.dmm-banner-section {
    margin-top: 80px;
    background: radial-gradient(109.42% 180.3% at 94.32% 92.61%, #862995 0%, #A1CCE3 100%), #C4C4C4;
    position: relative;
}
.dmm-banner-section .dmm-banner-row {
    align-items: center;
}
.dmm-banner-section .dmm-banner-main {
    position: relative;
}
.dmm-banner-section .dmm-banner-main .dmm-banner {
    max-width: 100%;
}
.dmm-banner-section .dmm-banner-main .rec-1 {
    position: absolute;
    right: 40px;
    top: 100px;
    animation: rotateRec1 5s linear infinite;
}
@keyframes rotateRec1 {
    8.33%{transform: translate(25px, 15px);}
    16.66%{transform: translate(40px, 40px);}
    24.99%{transform: translate(40px, 65px);}
    33.33%{transform: translate(25px, 85px);}
    41.66%{transform: translate(0, 100px);}
    49.99%{transform: translate(-25px, 100px);}
    58.33%{transform: translate(-50px, 85px);}
    66.66%{transform: translate(-65px,65px);}
    74.99%{transform: translate(-65px,40px);}
    83.33%{transform: translate(-50px,15px);}
    91.66%{transform: translate(-25px,0);}
    100%{transform: translate(0, 0);}
}
.dmm-banner-section .dmm-banner-main .rec-2 {
    position: absolute;
    left: 0;
    bottom: 70px;
    animation: rotateRec2 5s linear infinite;
}
@keyframes rotateRec2 {
    0%,
    100% {
        transform: rotateX(8.75deg) rotateY(35deg);
    }
    50% {
    transform: rotateX(35deg) rotateY(-35deg) rotate(180deg);
    }
}
.dmm-banner-section .dmm-banner-content-main {
    padding-top: 120px;
    padding-bottom: 80px;
}
.dmm-banner-section .dmm-banner-content-main h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.dmm-banner-section .dmm-banner-content-main p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.dmm-banner-section .dmm-banner-content-main .dmm-banner-btn {
    background: linear-gradient(95.12deg, #E2C53F 0%, #6CA0BC 83.42%);
    display: inline-block;
    margin-top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 23px;
}
.dmm-banner-section .dmm-banner-content-main .dmm-banner-btn:hover {
    background: linear-gradient(95.12deg, #6CA0BC 0%, #E2C53F 83.42%);
}

.dmm-banner-section .social-section {
    position: absolute;
    left: 30px;
    bottom: 50%;
    transform: translate(0, 50%);
}
.dmm-banner-section .social-section .social-row {
    display: flex;
    flex-direction: column;
}
.dmm-banner-section .social-section a {
    color: #33657e;
    margin-bottom: 10px;
}
.dmm-banner-section .social-section a i {
    font-size: 18px;
}
.dmm-banner-section .social-section a:hover {
    color: #862995;
}

.dmm-strategy-section {
    padding-top: 80px;
    padding-bottom: 40px;
    background-image: url('./img/vectorbg.png');
    background-position: center 63%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.dmm-strategy-section .dmm-s-title-content {
    margin-bottom: 50px;
}
.dmm-strategy-section .dmm-s-title-content h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #3C708E;
    margin-bottom: 12px;
}
.dmm-strategy-section .dmm-s-title-content p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #757575;
}
.dmm-strategy-section .dmm-s-box-col:nth-child(odd) {
    padding-top: 120px;
}
.dmm-strategy-section .dmm-s-box {
    position: relative;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    padding-top: 112%;
    cursor: pointer;
}
.dmm-strategy-section .dmm-s-box .s-box-bg {
    position: absolute;
    z-index: 1;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
}
.dmm-strategy-section .dmm-s-box .s-box-bg .s-box-hexagon {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.dmm-strategy-section .dmm-s-box .s-box-bg .s-box-hexagon svg {
    fill: #fff;
    filter: drop-shadow(0px 0px 24px rgba(19, 34, 47, 0.15));
    transition: all 0.5s;
}
.dmm-strategy-section .dmm-s-box .s-box-number {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    line-height: 1;
    transition: all 0.5s;
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    color: #F3F3F3;
}
.dmm-strategy-section .dmm-s-box .s-box-content {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
}
.dmm-strategy-section .dmm-s-box .s-box-content .s-box-img {
    margin-bottom: 25px;
}
.dmm-strategy-section .dmm-s-box .s-box-content .s-box-img img {
    max-height: 60px;
}
.dmm-strategy-section .dmm-s-box .s-box-content .s-box-title {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #232323;
}
.dmm-strategy-section .dmm-s-box:hover .s-box-bg .s-box-hexagon svg {
    fill: #f4f6fd;
    filter: none;
}
.dmm-strategy-section  .dmm-s-box-col:nth-child(1) .dmm-s-box:hover .s-box-number {
    color: #6CA0BC;
}
.dmm-strategy-section  .dmm-s-box-col:nth-child(2) .dmm-s-box:hover .s-box-number {
    color: #A06DAF;
}
.dmm-strategy-section  .dmm-s-box-col:nth-child(3) .dmm-s-box:hover .s-box-number {
    color: #33657E;
}
.dmm-strategy-section  .dmm-s-box-col:nth-child(4) .dmm-s-box:hover .s-box-number {
    color: #E5CD60;
}

.dmm-key-objectives-section {
    padding-top: 20px;
    padding-bottom: 35px;
}
.dmm-key-objectives-section .dmm-key-objectives-row {
    align-items: center;
}
.dmm-key-objectives-section .dmm-ko-img img {
    max-width: 100%;
}
.dmm-key-objectives-section .dmm-ko-content .dmm-ko-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #A06DAF;
    margin-bottom: 10px;
}
.dmm-key-objectives-section .dmm-ko-content h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
    color: #33657E;
    margin-bottom: 15px;
}
.dmm-key-objectives-section .dmm-ko-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #232323;
    margin-bottom: 15px;
}
.dmm-key-objectives-section .dmm-ko-content ul {
    list-style: none;
    padding-left: 15px;
}
.dmm-key-objectives-section .dmm-ko-content ul li {
    display: flex;
    align-items: flex-start;
    font-style: normal;
    font-weight: 500;
    color: #232323;
    margin-bottom: 20px;
}
.dmm-key-objectives-section .dmm-ko-content ul li img {
    margin-right: 10px;
    margin-top: 5px;
}

.dmm-goals-section {
    padding-top: 35px;
    padding-bottom: 30px;
    position: relative;
}
.dmm-goals-section .marketing-goals-vector {
    position: absolute;
    left: 0;
    bottom: 30px;
}
.dmm-goals-section .marketing-goals-arrow {
    position: absolute;
    /* left: 55%;
    transform: translate(-55%, 0);
    bottom: 125px; */
    animation: x-motion 3s ease-in-out 0s infinite alternate;
}
@keyframes x-motion {
    0% {
      left: 0;
      bottom: 40px;
      transform: translate(-50%, -25%);
    }
    25% {
        bottom: 30px;
        transform: translate(-40%, -20%);
    }
    50% {
        bottom: 50px;
        transform: translate(-30%, -15%);
    }
    75% {
        bottom: 60px;
        transform: translate(-40%, -10%);
    }
    100% {
      left: calc(100% - 100px);
      bottom: 55px;
      transform: translate(-60%, -5%);

    }
}
.dmm-goals-section .dmm-goals-row {
    align-items: center;
}
.dmm-goals-section .dmm-goals-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #232323;
    margin-bottom: 35px;
}
.dmm-goals-section .dmm-goals-content .dmm-gc-boxes-row {
    align-items: center;
}
.dmm-goals-section .dmm-goals-content .dmm-gc-box-col:not(:last-child) .gc-box {
    border-right: 2px dashed #C8D2D7;
}
.dmm-goals-section .dmm-goals-content .gc-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dmm-goals-section .dmm-goals-content .gc-box .gc-box-title {
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    text-align: justify;
    color: #A06DAF;
    margin-bottom: 15px;
}
.dmm-goals-section .dmm-goals-content .gc-box .gc-box-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: justify;
    color: #33657E;
}
.dmm-goals-section .dmm-goals-img {
    text-align: center;
    position: relative;
    z-index: 1;
}
.dmm-goals-section .dmm-goals-img img {
    max-width: 100%;
}

.dmm-faqs-section {
    padding-top: 30px;
    padding-bottom: 45px;
}
.dmm-faqs-section .dmm-faqs-title-row {
    background: rgba(108, 160, 188, .1);
    border-radius: 10px 10px 5px 5px;
    border-bottom: 5px solid #6CA0BC;
    padding: 35px 40px;
}
.dmm-faqs-section .dmm-ft-content .dmm-ft-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #3C708E;
    margin-bottom: 15px;
}
.dmm-faqs-section .dmm-ft-content h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: #232323;
    margin-bottom: 20px;
}
.dmm-faqs-section .dmm-ft-content .dmm-ft-btn {
    background: #FFFFFF;
    border: 2px solid #6CA0BC;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #6CA0BC;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    max-width: 130px;
    margin-bottom: -58px;
}
.dmm-faqs-section .dmm-ft-content .dmm-ft-btn .fa {
    font-size: 24px;
    font-weight: bold;
    color: #6B9EB9;
}
.dmm-faqs-section .dmm-faqs-list-row.hide {
    display: none;
}
.dmm-faqs-section .dmm-faqs-list-row {
    margin-top: 40px;
    background: rgba(108, 160, 188, .3);
    border-radius: 10px;
    border: 1px solid #6CA0BC;
    padding-top: 20px;
    padding-bottom: 20px;
}
.dmm-faqs-section .dmm-faqs-list .accordion-item {
    margin-bottom: 20px;
}
.dmm-faqs-section .dmm-faqs-list .accordion-button {
    color: #33657e;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    box-shadow: unset;
    margin-bottom: 0;
}
.dmm-faqs-section .dmm-faqs-list .accordion-button:not(.collapsed) {
    border-bottom: 1px solid #d0d8dc;
}
.dmm-faqs-section .dmm-faqs-list .accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2333657e'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }
.dmm-faqs-section .dmm-faqs-list .accordion-body {
    background-color: #e4eaed;
    padding: 20px;
}
.dmm-faqs-section .dmm-faqs-list .accordion-body p:last-child {
    margin-bottom: 0;
}

.dmm-expect-section {
    padding-top: 45px;
    padding-bottom: 40px;
}
.dmm-expect-section .dmm-expect-row {
    align-items: center;
}
.dmm-expect-section .dmm-expect-content {
    margin-left: -6%;
    padding-right: 20px;
}
.dmm-expect-section .dmm-expect-content .dmm-ec-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #A06DAF;
    margin-bottom: 15px;
}
.dmm-expect-section .dmm-expect-content h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    color: #33657E;
    margin-bottom: 20px;
}
.dmm-expect-section .dmm-expect-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #232323;
    margin-bottom: 15px;
}
.dmm-expect-section .dmm-expect-items {
    margin-top: 30px;
}
.dmm-expect-section .dmm-expect-items .dmm-e-item {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    margin-bottom: 30px;
}
.dmm-expect-section .dmm-expect-items .e-item-img {
    margin-right: 15px;
}
.dmm-expect-section .dmm-expect-items .e-item-img img {
    max-width: 60px;
    max-height: 60px;
}
.dmm-expect-section .dmm-expect-items .dmm-e-item .e-item-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: justify;
    color: #E5CC5C;
    margin-bottom: 10px;
}
.dmm-expect-section .dmm-expect-items .dmm-e-item:nth-child(2) .e-item-title {
    color: #6CA0BC;
}
.dmm-expect-section .dmm-expect-items .dmm-e-item:nth-child(3) .e-item-title {
    color: #A06DAF;
}
.dmm-expect-section .dmm-expect-items .dmm-e-item:nth-child(4) .e-item-title {
    color: #6CA0BC;
}
.dmm-expect-section .dmm-expect-items .e-item-desc p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #232323;
}
.dmm-expect-section .dmm-expect-img img {
    max-width: 100%;
}

.dmm-perfect-scenario-section {
    padding-top: 40px;
    padding-bottom: 40px;
}
.dmm-perfect-scenario-section .dmm-ps-title-content {
    max-width: 70%;
    margin: 0 auto 25px;
}
.dmm-perfect-scenario-section .dmm-ps-title-content h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #3C708E;
    margin-bottom: 10px;
}
.dmm-perfect-scenario-section .dmm-ps-title-content p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #757575;
    margin-bottom: 10px;
}
.dmm-perfect-scenario-section .dmm-ps-img {
    text-align: center;
}
.dmm-perfect-scenario-section .dmm-ps-img img {
    max-width: 100%;
}

.dmm-quote-section {
    position: relative;
}
.dmm-quote-section .dmm-quote-row {
    align-items: center;
    background: #6CA0BC;
    padding: 75px 20px;
    border-radius: 16px;
    box-shadow: 0 2.125rem 1.5rem 0 rgb(31 33 41 / 50%);
    margin-bottom: -40px;
}
.dmm-quote-section .dmm-quote-title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 1rem;
}
.dmm-quote-section .form-control {
    padding: 30px 20px;
    outline: 0;
    box-shadow: unset;
    border: 2px solid #e1e2e2;
    border-radius: 10px;
    font-size: 16px;
}
.dmm-quote-section .quote-btn {
    background: linear-gradient(95.12deg, #4F8CAD 0%, #EED979 100%);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 20px;
    cursor: pointer;
    border-radius: 10px;
    border: 0;
    outline: 0;
    width: 100%;
}