.blog2 .blog-item {
    overflow: hidden;
    margin-bottom: 30px;
}
.blog2 .blog-item img {
    max-width: 100%;
    width: 100%;
    height: 160px;
    transition: transform 1s ease-in-out;
    transform-origin: center center;
}
.blog2 .blog-item img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.blog2 .blog-item .blog-item-category {
    color: #31647c;
    font-size: 16px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
}
.blog2 .blog-item .blog-item-title {
    color: rgb(31, 31, 31);
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    display: inline-block;
}

.blog2-heading-main {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
}

.blog2-heading {
    position: relative;
    border-top: 1px solid #31647c;
    padding-top: 25px;
    padding-bottom: 25px;
}
.blog2-heading::before {
    background: #31647c;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 4px;
}
.blog2-heading.not-before {
    border-top-color: transparent;
}
.blog2-heading.not-before::before {
    content: unset;
}
.blog2-heading a {
    color: rgb(31, 31, 31);
    font-size: 24px;
    font-weight: 500;
}
.blog2-heading a:hover {
    color: #31647c;
}
.blog2-heading svg {
    vertical-align: middle;
    margin-left: 0.5rem;
    width: auto;
    height: 16px;
    display: inline-block;
    color: #31647c;
}


.blog2-latest-section {
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.blog2-latest-section .latest-blog-row {
    margin-bottom: 40px;
}
.blog2-latest-section .latest-blog-col {
    background-color: #6ca0bc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog2-latest-section .blog-content-first-mm {
    margin-bottom: 10px;
    font-size: 28px;
    color: #fff;
    font-weight: 500;
    text-decoration: underline;
}
.blog2-latest-section .blog-content-first-la {
    margin-bottom: 20px;
    font-size: 26px;
    color: #fff;
}
.blog2-latest-section .category {
    color: rgb(31, 31, 31);
    margin-bottom: 10px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
}
.blog2-latest-section .category:hover {
    color: #fff;
}
.blog2-latest-section .title-first {
    margin-bottom: 20px;
    font-size: 24px;
}
.blog2-latest-section .title-first a {
    color: #fff;
}
.blog2-latest-section .blog-content-first p {
    color: #fff;
    margin-bottom: 0;
}
.blog2-latest-section .blog-content-first {
    max-width: 85%;
}
.blog2-latest-section .blog-banner-first {
    overflow: hidden;
}
.blog2-latest-section .blog-banner-first img {
    max-width: 100%;
    transition: transform 1s ease-in-out;
    transform-origin: center center;
}
.blog2-latest-section .blog-banner-first img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}


.blog2-corporate-strategy-section {
    padding-top: 30px;
    padding-bottom: 30px;
}
.blog2-corporate-strategy-section .blog2-cs-title-row {
    align-items: stretch;
    margin-bottom: 40px;
}
.blog2-corporate-strategy-section .cs-banner-first {
    overflow: hidden;
}
.blog2-corporate-strategy-section .cs-banner-first img {
    max-width: 100%;
    transition: transform 1s ease-in-out;
    transform-origin: center center;
}
.blog2-corporate-strategy-section .cs-banner-first img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.blog2-corporate-strategy-section .cs-content-first-col {
    border-color: #31647c;
    border-style: solid;
    border-width: 1px 0 1px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog2-corporate-strategy-section .cs-content-first {
    padding-left: 30px;
}
.blog2-corporate-strategy-section .category {
    color: #a06db0;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
}
.blog2-corporate-strategy-section .blog-item {
    overflow: hidden;
}
.blog2-corporate-strategy-section .blog-item img {
    max-width: 100%;
    width: 100%;
    height: 160px;
    transition: transform 1s ease-in-out;
    transform-origin: center center;
}
.blog2-corporate-strategy-section .blog-item img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.blog2-corporate-strategy-section .box-item-category {
    color: #31647c;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
}
.blog2-corporate-strategy-section .box-item-title {
    font-size: 18px;
    font-weight: 500;
}
.blog2-corporate-strategy-section .box-item-title a {
    color: rgb(31, 31, 31);
}
.blog2-corporate-strategy-section .cs-blog-col-box a {
    overflow: hidden;
}
.blog2-corporate-strategy-section .cs-blog-col-box img {
    max-width: 100%;
    transition: transform 1s ease-in-out;
    transform-origin: center center;
    height: 100px;
    width: 100%;
    object-fit: cover;
    font-size: 11px;
    line-height: 1.2;
}
.blog2-corporate-strategy-section .cs-blog-col-box img::before {
    font-size: 11px;
    line-height: 1.2;
}
.blog2-corporate-strategy-section .cs-blog-col-box img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.blog2-corporate-strategy-section .cs-blog-col-row {
    margin-bottom: 20px;
}
.blog2-corporate-strategy-section .cs-blog-col-title a {
    font-size: 14px;
    font-weight: 500;
    color: rgb(31, 31, 31);
}
.blog2-corporate-strategy-section .title-first a {
    color: #31647c;
    font-size: 24px;
    margin-bottom: 15px;
    display: inline-block;
}

.blog2-podcasts-section {
    padding-top: 30px;
    padding-bottom: 30px;
}
.blog2-podcasts-section .blog2-p-music img {
    width: 100%;
}
.blog2-podcasts-section .blog2-p-col {
    background: #6ca0bc;
}
.blog2-podcasts-section .blog2-p-about {
    padding: 20px 15px;
}
.blog2-podcasts-section .blog2-p-about img {
    max-width: 100%;
    margin-bottom: 15px;
}
.blog2-podcasts-section .blog2-p-about .blog2-p-about-title {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.blog2-podcasts-section .blog2-p-about p {
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 14px;
}
.blog2-podcasts-section .blog2-p-about a {
    background: #E6E6E6;
    color: #6B717B;
    border-radius: 4px;
    font-weight: 500;
    padding: 15px 25px;
    margin-top: 15px;
    display: inline-block;
}

.blog2-video-section {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    background-image: url('./img/banner-bg-image.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.blog2-video-section .blog2-video-section-bg {
    position: absolute;
    width: 100%;
    height: 90%;
    background: #a06db0;
}
.blog2-video-section .blog2-v-title {
    font-size: 22px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.blog2-video-section .blog2-v-title a {
    color: rgb(31, 31, 31);
    font-size: 22px;
    font-weight: 500;
}
.blog2-video-section .blog2-v-title svg {
    vertical-align: middle;
    margin-left: 0.5rem;
    width: auto;
    height: 16px;
    display: inline-block;
    color: rgb(31, 31, 31);
}
.blog2-video-section .blog2-v-first-row {
    align-items: center;
    margin-bottom: 40px;
}
.blog2-video-section .v-banner-first {
    overflow: hidden;
}
.blog2-video-section .v-banner-first img {
    max-width: 100%;
    transition: transform 1s ease-in-out;
    transform-origin: center center;
}
.blog2-video-section .v-banner-first img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.blog2-video-section .v-banner-first a {
    position: relative;
}
.blog2-video-section .v-banner-first svg {
    width: 50px;
    height: 58px;
    display: inline-block;
    line-height: 1em;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.blog2-video-section .v-title-first {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
}
.blog2-video-section .v-title-first a {
    color: rgb(31, 31, 31);
}
.blog2-video-section .v-content-first {
    padding-left: 50px;
}
.blog2-video-section .v-content-first p {
    color: rgb(31, 31, 31);
}
.blog2-video-section .video-box-item {
    overflow: hidden;
}
.blog2-video-section .video-box-item img {
    max-width: 100%;
    transition: transform 1s ease-in-out;
    transform-origin: center center;
    margin-bottom: 10px;
}
.blog2-video-section .video-box-item img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.blog2-video-section .video-box-item a {
    position: relative;
}
.blog2-video-section .video-box-item svg {
    width: 50px;
    height: 58px;
    display: inline-block;
    line-height: 1em;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.blog2-video-section .video-box-item .box-item-title {
    font-size: 18px;
    font-weight: 500;
}
.blog2-video-section .video-box-item .box-item-title a {
    color: rgb(31, 31, 31);
}
.blog2-video-section .video-box-item iframe {
    height: 180px;
}

.blog2-news-press-section {
    padding-top: 4px;
    padding-bottom: 40px;
}
.blog2-news-press-section .news-item {
    margin-bottom: 40px;
}
.blog2-news-press-section .news-item a {
    font-weight: 500;
    color: rgb(31, 31, 31);
    font-size: 15px;
    margin-bottom: 5px;
    display: inline-block;
}
.blog2-news-press-section .news-item .website {
    color: #31647c;
    font-weight: 500;
    font-size: 14px;
}
.blog2-news-press-section .news-item .date {
    color: rgba(31, 31, 31, .6);
    font-size: 14px;
}
.blog2-news-press-section .press-item {
    margin-bottom: 20px;
}
.blog2-news-press-section .press-item a {
    font-weight: 500;
    color: rgb(31, 31, 31);
    font-size: 15px;
    margin-bottom: 10px;
    display: inline-block;
}
.blog2-news-press-section .press-item .posted-date {
    color: rgba(31, 31, 31, .6);
    font-weight: 500;
}
.blog2-news-press-section .press-item .posted-date .date {
    font-weight: 500;
}

.blog2-covid-explore-section {
    padding-top: 40px;
    padding-bottom: 40px;
}
.blog2-covid-explore-section .blog2-covid-item-row {
    margin-bottom: 30px;
}
.blog2-covid-explore-section .covid-item-banner {
    overflow: hidden;
}
.blog2-covid-explore-section .covid-item-banner img {
    max-width: 100%;
    transition: transform 1s ease-in-out;
    transform-origin: center center;
}
.blog2-covid-explore-section .covid-item-banner img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.blog2-covid-explore-section .covid-item-category {
    color: #31647c;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
}
.blog2-covid-explore-section .covid-item-title {
    font-size: 17px;
    font-weight: 500;
    color: rgb(31, 31, 31);
    width: 100%;
    display: inline-block;
}
.blog2-covid-explore-section .explore-list a {
    color: rgb(31, 31, 31);
    font-size: 16px;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 500;
    width: 100%;
}
.blog2-covid-explore-section .blog2-ce-subscribe {
    background: #6ca0bc;
    padding: 20px 15px;
}
.blog2-covid-explore-section .blog2-ce-subscribe img {
    max-width: 100%;
    margin-bottom: 15px;
}
.blog2-covid-explore-section .blog2-ce-subscribe .blog2-subscribe-title {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.blog2-covid-explore-section .blog2-ce-subscribe p {
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 15px;
}
.blog2-covid-explore-section .blog2-ces-form {
    position: relative;
}
.blog2-covid-explore-section .blog2-ces-form .emailid {
    width: 100%;
    outline: 0;
    border-width: 0;
    position: relative;
    transition: all 0.2s;
    background: #FFFFFF;
    font-size: 16px;
    padding-left: 1rem;
    padding-right: 2.5rem;
    height: 40px;
    border-radius: 0.375rem;
    color: rgb(31, 31, 31);
}
.blog2-covid-explore-section .blog2-ces-form .emailid::-webkit-input-placeholder { /* Edge */
    color: rgba(31, 31, 31, .6);
}
.blog2-covid-explore-section .blog2-ces-form .emailid:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(31, 31, 31, .6);;
}
.blog2-covid-explore-section .blog2-ces-form .emailid::placeholder {
    color: rgba(31, 31, 31, .6);;
}
.blog2-covid-explore-section .blog2-ces-form .blog2-ces-btn {
    background-color: #31647c;
    color: #FFFFFF;
    border-width: 0;
    border-radius: 0 0.25rem 0.25rem 0;
    position: absolute;
    right: 0;
    height: 40px;
    top: 0;
}
.blog2-covid-explore-section .blog2-ces-form .blog2-ces-btn svg {
    width: 40px;
    height: 50%;
}
.blog2-covid-explore-section .blog2-ce-boxes {
    background-color: #31647c;
    margin-top: 25px;
    padding: 20px 15px;
}
.blog2-covid-explore-section .blog2-ce-boxes .ce-box-title {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.blog2-covid-explore-section .blog2-ce-boxes p {
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 15px;
}
.blog2-covid-explore-section .blog2-ce-boxes a {
    background: #E6E6E6;
    color: #31647c;
    border-radius: 4px;
    font-weight: 500;
    padding: 13px 25px;
    margin-top: 10px;
    display: inline-block;
}

.blog2-jobs-skills-section {
    padding-top: 40px;
    padding-bottom: 40px;
}


.blog2-our-impact-section {
    padding-top: 40px;
    padding-bottom: 60px;
}

.blog2 .know_more_blogs {
    color: rgb(31, 31, 31);
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    text-align: right;
    display: inline-block;
}
.blog2 .know_more_blogs svg {
    vertical-align: middle;
    width: auto;
    height: 15px;
    display: inline-block;
    color: #31647c;
}

.blog2 .blogs_btn-col {
    text-align: right;
}
.blog2 .know_more_blogs.blogs_btn {
    background: linear-gradient(95.12deg,#e2c53f,#6ca0bc 83.42%);
    border-radius: 6px;
    color: #fff;
    padding: 12px 15px;
    width: auto;
}
.blog2 .know_more_blogs.blogs_btn svg {
    color: #fff;
}

.blog2 .blog2-heading.categories-heading {
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.blog2 .categories-list a {
    color: rgb(31, 31, 31);
    font-size: 16px;
    display: inline-block;
    margin-bottom: 15px;
    font-weight: 500;
    width: 100%;
}

/* announcement slider start */
.blog2 .b-announcement-slider-section {
    padding-top: 60px;
    padding-bottom: 100px;
}

.blog2 .b-announcement-slider-section .b-a-row {
    background-color: #f2f2f2;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
}

.blog2 .b-announcement-slider-section .b-a-banner {
    text-align: center;
    padding-right: 50px;
}
.blog2 .b-announcement-slider-section .b-a-banner img {
    max-width: 100%;
    width: 100%;
}

.blog2 .b-announcement-slider-section .b-a-content {
    border-image: linear-gradient(to bottom, rgb(229, 205, 96) 0%, rgb(108, 160, 188) 100%) 1 100%;
    border-width: 0 0 0 .25em;
    border-left-style: solid;
    padding-left: 30px;
}

.blog2 .b-announcement-slider-section .b-a-content .b-a-c-subtitle {
    margin-top: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #A06DAF;
    margin-bottom: 10px;
}
.blog2 .b-announcement-slider-section .b-a-content h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    text-transform: capitalize;
    color: #33657E;
    margin-bottom: 18px;
}

.blog2 .b-announcement-slider-section .b-a-content span {
    display: block;
    padding-left: 1.25em;
    padding-bottom: .63em;
}

.blog2 .b-announcement-slider-section .b-link svg {
    height: 16px;
    fill: #3c708e;
    margin-left: 5px;
}
.blog2 .b-announcement-slider-section .carousel-control-next, 
.blog2 .b-announcement-slider-section .carousel-control-prev {
    width: 10%;
    opacity: 1;
}
.blog2 .b-announcement-slider-section .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%2333657E%27%3e%3cpath d=%27M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z%27/%3e%3c/svg%3e");
}
.blog2 .b-announcement-slider-section .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%2333657E%27%3e%3cpath d=%27M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
}
.blog2 .b-announcement-slider-section .b-link {
    color: #33657e;
    display: inline;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 1em;
    position: relative;
    text-transform: uppercase;
}
.blog2 .b-announcement-slider-section .b-link::before {
    display: block;
    position: absolute;
    content: "";
    height: .08125em;
    max-width: calc(100% - 2rem);
    width: 0%;
    -webkit-transition: width 300ms ease;
    -moz-transition: width 300ms ease;
    -o-transition: width 300ms ease;
    transition: width 300ms ease;
    left: 0;
    bottom: -6px;
    background: #3c708e;
}
.blog2 .b-announcement-slider-section .b-link:hover::before {
    width: 100%;
}
/* announcement slider end */


/* responsive start */
@media only screen and (min-width: 992px) and (max-width: 1399.99px) {
    /* .blog2 .container-lg {
        max-width: 100%;
    } */
    .blog2-corporate-strategy-section .title-first a {
        font-size: 22px;
    }
    .blog2-covid-explore-section .covid-item-title {
        font-size: 16px;
    }
}


@media only screen and (max-width: 1280.99px) {
    .blog2 .carousel-control-next, 
    .blog2 .b-announcement-slider-section .carousel-control-prev {
        width: 7%;
    }
    .blog2-latest-section .blog-content-first {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .blog2-latest-section .category {
        margin-bottom: 0;
    }
    .blog2-latest-section .title-first {
        margin-bottom: 10px;
    }
}


@media only screen and (max-width: 1199.99px) {
    .blog2 .container-lg {
        max-width: 98%;
    }
    .blog2 .b-announcement-slider-section .carousel-control-next, 
    .blog2 .b-announcement-slider-section .carousel-control-prev {
        width: 5%;
    }
    .blog2-latest-section .blog-content-first {
        max-width: 95%;
    }
    .blog2 .blog-item img {
        height: 110px;
    }
    .blog2-video-section .video-box-item iframe {
        height: 150px;
    }
    .blog2-corporate-strategy-section .cs-content-first {
        padding-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


@media only screen and (max-width: 1090.99px) {
    .blog2 .b-announcement-slider-section .b-a-content h2 {
        font-size: 32px;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1080.99px) {
    .blog2 .blog-item .blog-item-title {
        font-size: 15px;
    }
    .blog2-covid-explore-section .covid-item-category {
        font-size: 14px;
    }
    .blog2-covid-explore-section .covid-item-title {
        font-size: 14px;
    }
    .blog2-covid-explore-section .blog2-ce-subscribe .blog2-subscribe-title {
        font-size: 16px;
    }
    .blog2-corporate-strategy-section .cs-content-first {
        padding-left: 0;
    }
    .blog2-covid-explore-section .blog2-ce-subscribe p {
        font-size: 14px;
    }
}


@media only screen and (max-width: 991.99px) {
    .blog2-latest-section .latest-blog-col {
        background-color: transparent;
    }
    .blog2-latest-section .blog-content-first {
        max-width: 100%;
        background-color: #6ca0bc;
        padding: 30px 20px;
    }
    .blog2 .blog-item img {
        height: 240px;
    }
    .blog2-corporate-strategy-section .cs-blog-col-box img {
        height: 130px;
    }
    .blog2-corporate-strategy-section .cs-content-first-col {
        border-width: 0;
    }
    .blog2-corporate-strategy-section .cs-content-first {
        padding: 15px 0;
        border-color: #31647c;
        border-style: solid;
        border-width: 1px 0 1px 0;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .blog2-corporate-strategy-section .cs-content-first p {
        margin-bottom: 0;
    }
    .blog2-podcasts-section .blog2-p-col {
        background: transparent;
    }
    .blog2-podcasts-section .blog2-p-about {
        background-color: #6ca0bc;
        margin-top: 10px;
    }
    .blog2-video-section .v-content-first {
        padding-left: 0;
        margin-top: 10px;
    }
    .blog2-corporate-strategy-section .blog2-cs-title-row {
        margin-bottom: 0;
    }
    .blog2 .b-announcement-slider-section .b-a-content h2 {
        font-size: 28px;
    }
    .blog2 .b-announcement-slider-section {
        padding-bottom: 60px;
    }
    .blog2-video-section .video-box-item iframe {
        height: 250px;
        margin-bottom: 15px;
    }
    .blog2-video-section .v-banner-first iframe {
        height: 400px;
    }
    .blog2 .know_more_blogs {
        margin-bottom: 20px;
    }
}


@media only screen and (max-width: 855.99px) {
    .blog2 .b-announcement-slider-section .b-a-banner {
        padding-right: 30px;
    }
    .blog2 .b-announcement-slider-section .b-a-content h2 {
        font-size: 26px;
    }
    .blog2-latest-section .blog-content-first {
        padding: 20px 10px;
    }
    .blog2 .blog-item img {
        height: 200px;
    }
}


@media only screen and (max-width: 767.99px) {
    .blog2 .blog-item img {
        height: 175px;
    }
    .blog2-corporate-strategy-section .cs-blog-col-box img {
        height: 100px;
    }
    .blog2 .b-announcement-slider-section .b-a-banner {
        padding-right: 0;
        margin-bottom: 20px;
    }
    .blog2 .b-announcement-slider-section .b-a-banner img {
        max-width: 220px;
    }
    .blog2-video-section .video-box-item iframe {
        height: 300px;
    }
    .blog2 .container-lg {
        max-width: 100%;
    }
}


@media only screen and (max-width: 667.99px) {
    .blog2 .blog-item img {
        height: 150px;
    }
}


@media only screen and (max-width: 600.99px) {
    .blog2 .row > * {
        padding-right: calc(var(--bs-gutter-x) * .5) !important;
        padding-left: calc(var(--bs-gutter-x) * .5) !important;
    }
}


@media only screen and (max-width: 575.99px) {
    .blog2 .blog-item img {
        height: auto;
    }
    .blog2-corporate-strategy-section .cs-blog-col-box img {
        height: auto;
    }
    .blog2-corporate-strategy-section .cs-blog-col-title a {
        margin-top: 10px;
        display: inline-block;
    }
    .blog2-covid-explore-section .covid-item-banner img {
        width: 100%;
    }
    .blog2-covid-explore-section .covid-item-content {
        margin-top: 10px;
    }
    .blog2-covid-explore-section .covid-item-category {
        margin-bottom: 0;
    }
    .blog2-video-section .v-banner-first iframe {
        height: 300px;
    }
}


@media only screen and (max-width: 520.99px) {
    .blog2-corporate-strategy-section .title-first a {
        font-size: 22px;
    }
    .blog2 .b-announcement-slider-section .b-a-content h2 {
        font-size: 22px;
    }
}


@media only screen and (max-width: 500.99px) {
    .blog2-video-section .v-banner-first iframe {
        height: 250px;
    }
    .blog2-video-section .video-box-item iframe {
        height: 250px;
    }
}


@media only screen and (max-width: 449.99px) {
    .blog2-corporate-strategy-section .title-first a {
        font-size: 20px;
    }
    .blog2-covid-explore-section .covid-item-category {
        font-size: 15px;
    }
    .blog2-covid-explore-section .covid-item-title {
        font-size: 15px;
        line-height: 20px;
    }
    .blog2-latest-section .blog-content-first-mm {
        font-size: 28px;
    }
    .blog2-latest-section .blog-content-first-la {
        font-size: 24px;
    }
}


@media only screen and (max-width: 414.99px) {
    .blog2-latest-section .blog-content-first {
        padding-left: 10px;
        padding-right: 10px;
    }
    .blog2-latest-section .title-first {
        font-size: 22px;
    }
    .blog2-latest-section .blog-content-first p {
        font-size: 15px;
    }
    .blog2 .blog-item .blog-item-category {
        font-size: 15px;
    }
    .blog2 .blog-item .blog-item-title {
        font-size: 15px;
    }
    .blog2-heading a {
        font-size: 22px;
    }
    .blog2-video-section .v-banner-first iframe {
        height: 200px;
    }
    .blog2-video-section .video-box-item iframe {
        height: 200px;
    }
}


@media only screen and (max-width: 400.99px) {
    .blog2-latest-section .blog-content-first-mm {
        font-size: 24px;
    }
    .blog2-latest-section .blog-content-first-la {
        font-size: 22px;
    }
}


@media only screen and (max-width: 360.99px) {
    .blog2-covid-explore-section .blog2-heading a {
        font-size: 20px;
    }
}


@media only screen and (max-width: 345.99px) {
    .blog2 .b-announcement-slider-section .carousel-control-next, 
    .blog2 .b-announcement-slider-section .carousel-control-prev {
        width: 7%;
    }
    .blog2-latest-section .blog-content-first-mm {
        line-height: 1.1;
    }
    .blog2 .b-announcement-slider-section .b-a-content h2 {
        font-size: 20px;
    }
    .blog2-video-section .v-banner-first iframe {
        height: 180px;
    }
    .blog2-video-section .video-box-item iframe {
        height: 180px;
    }
}


@media only screen and (max-width: 320.99px) {
    .blog2-covid-explore-section .blog2-heading a {
        font-size: 18px;
    }
    .blog2-covid-explore-section .blog2-heading svg {
        height: 14px;
        margin-left: 5px;
    }
    .blog2-news-press-section .blog2-heading a {
        font-size: 19px;
    }
    .blog2-news-press-section .blog2-heading svg {
        height: 14px;
        margin-left: 5px;
    }
    .blog2-corporate-strategy-section .title-first a {
        font-size: 18px;
    }
    .blog2-latest-section .title-first {
        font-size: 21px;
    }
    .blog2 .b-announcement-slider-section .b-a-content h2 {
        font-size: 20px;
    }
}


@media only screen and (max-width: 300.99px) {
    .blog2-video-section .v-banner-first iframe {
        height: 150px;
    }
    .blog2-video-section .video-box-item iframe {
        height: 150px;
    }
    .blog2-heading a {
        font-size: 19px;
    }
    .blog2-heading svg {
        margin-left: 5px;
    }
    .blog2-heading-main {
        font-size: 24px;
    }
}