.industrial-resources-main .blog-item {
  margin-bottom: 45px;
}
.industrial-resources-main .blog-item a {
  color: #a16bb8;
  transition: all 300ms ease-in-out 0s;
}
.industrial-resources-main .blog-item a:hover .blog-title {
  color: #23527c;
  transition: all 300ms ease-in-out 0s;
}
.industrial-resources-main .blog-item .blog-img {
  width: 100%;
  box-shadow: 1px 1px 4px 1px #888;
  margin-bottom: 10px;
}
.industrial-resources-main .blog-item .blog-title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}
.industrial-resources-main .blog-item .blog-title:after {
  height: 2px;
  display: block;
  width: 260px;
  background: #ccc;
  content: '';
  margin-bottom: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}
.industrial-resources-main .blog-item .blog-content p {
  color: #31647c;
  font-size: 16px;
  font-weight: 400;
}