/* Banner section start */
.gtm-banner-section {
    margin-top: 80px;
    position: relative;
    padding-top: 120px;
    padding-bottom: 170px;
}
.gtm-banner-section .gtm-banner {
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    z-index: -1;
}
.gtm-banner-section .gtm-banner-rec {
    position: absolute;
    top: 40px;
    right: 45%;
    animation: rotateBannerRec 5s linear infinite;
}
@keyframes rotateBannerRec {
    0%,
    100% {
        transform: rotateX(8.75deg) rotateY(35deg);
    }
    50% {
    transform: rotateX(35deg) rotateY(-35deg) rotate(180deg);
    }
}
.gtm-banner-section .gtm-banner-content .gtm-b-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
    color: #A06DAF;
    margin-bottom: 15px;
}
.gtm-banner-section .gtm-banner-content h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    color: #33657E;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.gtm-banner-section .gtm-banner-content .gtm-b-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #232323;
    margin-bottom: 15px;
}
.gtm-banner-section .gtm-banner-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #232323;
    margin-bottom: 10px;
}
.gtm-banner-section .gtm-banner-content .gtm-banner-btn {
    background: linear-gradient(95.12deg, #E2C53F 0%, #6CA0BC 83.42%);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 13px 23px;
    display: inline-block;
    margin-top: 30px;
}
.gtm-banner-section .gtm-banner-content .gtm-banner-btn a {
    color: #fff;
    text-decoration: none;
}
/* Banner section end */


/* approach start */
.gtm-approach-section {
    padding-top: 100px;
    padding-bottom: 60px;
    background-image: url('./img/Our-Approach-bg.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.gtm-approach-section .gtm-a-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gtm-approach-section .gtm-a-item.gtm-a-item-01 {
    padding-top: 50px;
}
.gtm-approach-section .gtm-a-item.gtm-a-item-04 {
    padding-top: 100px;
}
.gtm-approach-section .gtm-a-item .a-item-number-main {
    position: relative;
}
.gtm-approach-section .gtm-a-item .a-item-number-main::before {
    border: 1px dashed #DAC2E1;
    content: "";
    width: 1px;
    height: 40px;
    position: absolute;
    bottom: 5px;
}
.gtm-approach-section .gtm-a-item.gtm-a-item-01 .a-item-number-main::before {
    top: 5px;
}
.gtm-approach-section .gtm-a-item.gtm-a-item-02 .a-item-number-main::before {
    border: 1px dashed #BAD3E0;
}
.gtm-approach-section .gtm-a-item.gtm-a-item-03 .a-item-number-main::before {
    border: 1px dashed #E9E2C4;
}
.gtm-approach-section .gtm-a-item.gtm-a-item-04 .a-item-number-main::before {
    border: 1px dashed #AAC7D6;
    top: 5px;
}
.gtm-approach-section .gtm-a-item .a-item-number-inner {
    background-color: #A06DAF;
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 19px rgba(20, 41, 51, 0.15);
    border-radius: 15px;
    transform: rotate(45deg);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.gtm-approach-section .gtm-a-item.gtm-a-item-01 .a-item-number-inner {
    margin-bottom: 0;
    margin-top: 40px;
}
.gtm-approach-section .gtm-a-item.gtm-a-item-02 .a-item-number-inner {
    background-color: #6CA0BC;
}
.gtm-approach-section .gtm-a-item.gtm-a-item-03 .a-item-number-inner {
    background-color: #E5CC5C;
}
.gtm-approach-section .gtm-a-item.gtm-a-item-04 .a-item-number-inner {
    background-color: #33657E;
    margin-bottom: 0;
    margin-top: 40px;
}
.gtm-approach-section .gtm-a-item .a-item-number-main .a-item-number {
    transform: rotate(-45deg);
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    text-align: center;
    color: #FFFFFF;
}
.gtm-approach-section .gtm-a-item .a-item-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #A06DAF;
    margin-bottom: 5px;
}
.gtm-approach-section .gtm-a-item.gtm-a-item-02 .a-item-title {
    color: #6CA0BC;
}
.gtm-approach-section .gtm-a-item.gtm-a-item-03 .a-item-title {
    color: #E5CC5C;
}
.gtm-approach-section .gtm-a-item.gtm-a-item-04 .a-item-title {
    color: #33657E;
}
.gtm-approach-section .gtm-a-item .a-item-desc p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #757575;
    margin-top: 10px;
}
.gtm-approach-section .gtm-a-item .a-item-desc ul {
    padding-left: 30px;
    text-align: left;
}
.gtm-approach-section .gtm-a-item .a-item-desc ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    margin-bottom: 7px;
}
.gtm-approach-section .gtm-a-item .a-item-desc ul li::marker {
    color: #6CA0BC;
}
.gtm-approach-section .gtm-a-item.gtm-a-item-01 .a-item-number-main {
    order: 2;
}
.gtm-approach-section .gtm-a-item.gtm-a-item-01 .a-item-content {
    order: 1;
}
.gtm-approach-section .gtm-a-item.gtm-a-item-04 .a-item-number-main {
    order: 2;
}
.gtm-approach-section .gtm-a-item.gtm-a-item-04 .a-item-content {
    order: 1;
}
.gtm-approach-section .gtm-a-item-middle {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.gtm-approach-section .gtm-a-item-middle .gtm-banner {
    max-width: 100%;
    height: 330px;
    border: 10px solid #FFF;
    box-shadow: 0px 0px 44px rgba(5, 7, 10, 0.15);
    border-radius: 100%;
}
.gtm-approach-section .gtm-a-item-middle .a-item-title-middle {
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF;
    max-width: 50%;
}
/* approach end */


/* finding-ways start */
.gtm-finding-ways-section {
    padding-top: 40px;
    padding-bottom: 40px;
}
.gtm-finding-ways-section .gtm-fw-content {
    max-width: 75%;
    margin: 0 auto;
}
.gtm-finding-ways-section .gtm-fw-content h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    text-transform: capitalize;
    color: #3C708E;
    margin-bottom: 15px;
}
.gtm-finding-ways-section .gtm-fw-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #757575;
}
/* finding-ways end */


/* faqs start */
.gtm-faqs-section {
    padding-top: 30px;
    padding-bottom: 60px;
}
.gtm-faqs-section .gtm-faqs-title-row {
    background: rgba(108, 160, 188, .1);
    border-radius: 10px 10px 5px 5px;
    border-bottom: 5px solid #6CA0BC;
    padding: 35px 40px;
}
.gtm-faqs-section .gtm-ft-content .gtm-ft-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-transform: none;
    color: #3C708E;
    margin-bottom: 15px;
}
.gtm-faqs-section .gtm-ft-content h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    text-transform: capitalize;
    color: #232323;
    margin-bottom: 20px;
}
.gtm-faqs-section .gtm-ft-content .gtm-ft-btn {
    background: #FFFFFF;
    border: 2px solid #6CA0BC;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #6CA0BC;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    max-width: 130px;
    margin-bottom: -58px;
}
.gtm-faqs-section .gtm-ft-content .gtm-ft-btn .fa {
    font-size: 24px;
    font-weight: 500;
    color: #6B9EB9;
}
.gtm-faqs-section .gtm-faqs-list-row.hide {
    display: none;
}
.gtm-faqs-section .gtm-faqs-list-row {
    margin-top: 40px;
    background: rgba(108, 160, 188, .3);
    border-radius: 10px;
    border: 1px solid #6CA0BC;
    padding-top: 20px;
    padding-bottom: 20px;
}
.gtm-faqs-section .gtm-faqs-list .accordion-item {
    margin-bottom: 20px;
}
.gtm-faqs-section .gtm-faqs-list .accordion-button {
    color: #33657e;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    box-shadow: unset;
    margin-bottom: 0;
}
.gtm-faqs-section .gtm-faqs-list .accordion-button:not(.collapsed) {
    border-bottom: 1px solid #d0d8dc;
}
.gtm-faqs-section .gtm-faqs-list .accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2333657e'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.gtm-faqs-section .gtm-faqs-list .accordion-body {
    background-color: #e4eaed;
    padding: 20px;
}
.gtm-faqs-section .gtm-faqs-list .accordion-body p:last-child {
    margin-bottom: 0;
}
.gtm-faqs-section .gtm-faqs-list .accordion-body h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #A06DAF;
    margin-bottom: 10px;
}
.gtm-faqs-section .gtm-faqs-list .accordion-body h3:not(:first-child) {
    margin-top: 15px;
    display: inline-block;
    width: 100%;
}
.gtm-faqs-section .gtm-faqs-list .accordion-body h3 span {
    color: #6CA0BC;
}
.gtm-faqs-section .gtm-faqs-list .accordion-body h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #A06DAF;
    margin-bottom: 10px;
}
.gtm-faqs-section .gtm-faqs-list .accordion-body .faq-btn {
    color: white;
    padding: 12px 25px;
    background: linear-gradient(95.12deg, #EED979 0%, #6CA0BC 83.42%);
    cursor: pointer;
    font-size: 0.875em;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    margin-top: 20px;
}
.gtm-faqs-section .faq-banner-container img {
    width: 100%;
}
.gtm-faqs-section .faq-list-container {
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    padding: 50px;
}
.gtm-faqs-section .gtm-faqs-list .faq-box-row {
    margin-top: 30px;
    margin-bottom: 30px;
}
.gtm-faqs-section .gtm-faqs-list .faq-box-main {
    background: #FCF2FF;
    border-radius: 20px;
    padding: 25px 34px;
    display: flex;
}
.gtm-faqs-section .gtm-faqs-list .faq-box-main .faq-box-img {
    margin-right: 35px;
}
.gtm-faqs-section .gtm-faqs-list .faq-box-main .faq-box-img img {
    max-width: 100%;
}
.gtm-faqs-section .gtm-faqs-list .faq-box-main .faq-box-line img {
    max-width: 55px;
}
.gtm-faqs-section .gtm-faqs-list .faq-box-main .faq-box-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #6CA0BC;
    margin-top: 10px;
}
/* faqs end */


/* expand section start */
.gtm-expand-section {
    padding-top: 60px;
    padding-bottom: 60px;
}
.gtm-expand-section .gtm-expand-content-row {
    padding-top: 45px;
}
.gtm-expand-section .gtm-ec-banner {
    position: relative;
}
.gtm-expand-section .gtm-ec-banner .ec-b-img {
    max-width: 100%;
    position: relative;
    left: 15%;
    top: 60px;
    z-index: 9;
}
.gtm-expand-section .gtm-ec-banner .ec-b-rec {
    position: absolute;
    top: 0;
    left: -80px;
    max-height: 460px;
}
.gtm-expand-section .gtm-ec-banner .ec-b-rec-2 {
    position: absolute;
    right: 0;
    top: 0;
    animation-name: stretchWorkingRec1;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 1000ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}
@keyframes stretchWorkingRec1 {
    0% {
      transform: scale(.3);
    }
    100% {
      transform: scale(1.2);
    }
}
.gtm-expand-section .gtm-ec-banner .ec-b-vec {
    position: absolute;
    left: -75px;
    bottom: -85px;
    z-index: -1;
}
.gtm-expand-section .gtm-ec-banner .ec-b-ellipse {
    position: absolute;
    bottom: -120px;
    left: 43%;
    transform: translate(-43%, 0);
}
.gtm-expand-section .gtm-ec-banner .ec-b-vec-1 {
    position: absolute;
    bottom: -115px;
    left: calc(43% + 30px);;
    transform: translate(-43%, 0);
}
.gtm-expand-section .gtm-ec-banner .ec-b-rec-1 {
    position: absolute;
    bottom: -135px;
    left: calc(43% + 35px);;
    transform: translate(-43%, 0);
    z-index: -1;
}
.gtm-expand-section .gtm-ec-banner .ec-b-write-box {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 4px 4px 24px rgba(14, 17, 29, 0.15);
    border-radius: 10px;
    padding: 30px 35px;
    right: 0;
    bottom: -125px;
    z-index: 9;
    text-align: center;
}
.gtm-expand-section .gtm-ec-banner .bw-box-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #33657E;
    margin-bottom: 15px;
}
.gtm-expand-section .gtm-ec-banner .bw-box-btn {
    background: linear-gradient(95.12deg, #E2C53F 0%, #6CA0BC 83.42%);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: none;
    color: #FFFFFF;
    padding: 13px 23px;
    display: inline-block;
    cursor: pointer;
    margin-top: 15px;
}
.gtm-expand-section .gtm-ec-desc h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    text-transform: capitalize;
    color: #3C708E;
    margin-bottom: 10px;
}
.gtm-expand-section .gtm-ec-desc p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    margin-bottom: 20px;
}
.gtm-expand-section .gtm-ec-desc ul {
    list-style-image: url('./img/list-icon.png');
}
.gtm-expand-section .gtm-ec-desc ul li {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #232323;
    margin-bottom: 20px;
}
.gtm-expand-section .gtm-ec-desc ul li img {
    margin-top: 5px;
    margin-right: 10px;
}

.gtm-write-us-modal .modal-header {
    border-bottom-width: 0;
}
.gtm-write-us-modal .modal-header .btn-close {
    background-image: url('./img/close.png');
    width: 10px;
    height: 10px;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: initial;
    box-shadow: unset;
}
.gtm-write-us-modal .modal-content {
    background: #F7F7F7;
    border-width: 0;
}
.gtm-write-us-modal .modal-body {
    padding-left: 0;
    padding-top: 0;
}
.gtm-write-us-modal .gtm-wu-modal-row {
    align-items: flex-end;
}
.gtm-write-us-modal .gtm-wu-banner img {
    max-width: 100%;
}
.gtm-write-us-modal .gtm-wu-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #3C708E;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.gtm-write-us-modal .gtm-wu-form .form-group {
    margin-bottom: 25px;
}
.gtm-write-us-modal .gtm-wu-form .form-control {
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 0;
    padding: 12px 14px;
    font-size: 18px;
}
.gtm-write-us-modal .gtm-wu-form .form-control::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #C2BDC8;
}
.gtm-write-us-modal .gtm-wu-form .form-control::-moz-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #C2BDC8;
}
.gtm-write-us-modal .gtm-wu-form .form-control::-webkit-input-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #C2BDC8;
}
.gtm-write-us-modal .gtm-wu-form .form-control:focus {
    border: 1px solid #A06DAF;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 3px rgba(160, 109, 175, 0.15);
    color: #232323;
}
.gtm-write-us-modal .gtm-wu-form .form-control:focus::placeholder {
    color: #232323;
}
.gtm-write-us-modal .gtm-wu-form .form-control:focus::-moz-placeholder {
    color: #232323;
}
.gtm-write-us-modal .gtm-wu-form .form-control:focus::-webkit-input-placeholder {
    color: #232323;
}
.gtm-write-us-modal .gtm-wu-form .label {
    margin-top: -50px;
    margin-left: 10px;
    display: none;
    float: left;
    background: linear-gradient(180deg, #F5F5F5 0%, #FFFFFF 100%);
    padding: 2px 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: #C2BDC8;
}
.gtm-write-us-modal .gtm-wu-form .form-control:focus + .label {
    display: inline-block;
}
.gtm-write-us-modal .gtm-wu-form .submit-btn {
    background: linear-gradient(95.12deg, #EED979 0%, #6CA0BC 83.42%), linear-gradient(180deg, #F49AF4 0%, #C21EC2 100%);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    padding: 8px 30px;
    border: 0;
}
/* expand section end */


/* product-strategy start */
.gtm-product-strategy-section {
    padding-top: 60px;
    padding-bottom: 50px;
}
.gtm-product-strategy-section .gtm-ps-content {
    max-width: 75%;
    margin: 0 auto 50px;
}
.gtm-product-strategy-section .gtm-ps-content h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    text-transform: capitalize;
    color: #3C708E;
    margin-bottom: 15px;
}
.gtm-product-strategy-section .gtm-ps-content p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #757575;
    margin-bottom: 15px;
}
.gtm-product-strategy-section .gtm-ps-banner {
    text-align: center;
}
.gtm-product-strategy-section .gtm-ps-banner img {
    max-width: 100%;
}
/* product-strategy end */


/* responsive start */
@media only screen and (max-width: 1450.99px) {
    .gtm-expand-section .gtm-ec-banner .ec-b-rec {
        left: -20px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-vec {
        left: -20px;
    }
}


@media only screen and (max-width: 1399.99px) {
    .gtm-finding-ways-section .gtm-fw-content {
        max-width: 85%;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-img {
        left: 0;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-rec {
        left: -80px;
        max-height: 400px;
        top: 30px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-vec {
        left: -90px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-ellipse {
        left: 28%;
        bottom: -150px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-vec-1 {
        left: calc(28% + 35px);
        bottom: -145px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-rec-1 {
        left: calc(28% + 40px);
        bottom: -160px;
    }
    .gtm-product-strategy-section .gtm-ps-content {
        max-width: 85%;
    }
}


@media only screen and (max-width: 1299.99px) {
    .gtm-expand-section .gtm-ec-banner .ec-b-img {
        max-width: 80%;
        left: 14%;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-rec {
        max-height: 370px;
        left: -40px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-vec {
        left: -50px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-ellipse {
        bottom: -180px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-vec-1 {
        bottom: -175px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-rec-1 {
        bottom: -190px;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
    .gtm-banner-section .gtm-banner-content h1 {
        font-size: 36px;
    }
    .gtm-approach-section .gtm-a-item-middle .a-item-title-middle {
        font-size: 20px;
    }
    .gtm-approach-section .gtm-a-item-middle .gtm-banner {
        height: 300px;
    }
    .gtm-approach-section .gtm-a-item .a-item-title {
        font-size: 16px;
    }
    .gtm-approach-section .gtm-a-item .a-item-desc p {
        font-size: 14px;
    }
    .gtm-approach-section .gtm-a-item .a-item-desc ul li {
        font-size: 14px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-rec {
        top: 0;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-write-box {
        padding: 25px;
        bottom: -150px;
    }
}


@media only screen and (max-width: 1199.99px) {
    .gtm-finding-ways-section .gtm-fw-content {
        max-width: 95%;
    }
    .gtm-product-strategy-section .gtm-ps-content {
        max-width: 95%;
    }
}


@media only screen and (max-width: 1050.99px) {
    .gtm-expand-section .gtm-ec-banner .ec-b-rec {
        max-height: 340px;
        left: 0;
        top: 10px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-vec {
        max-height: 90px;
        left: -20px;
    }
}


@media only screen and (max-width: 990.99px) {
    .gtm-banner-section {
        padding-top: 90px;
        padding-bottom: 0;
    }
    .gtm-banner-section .gtm-banner {
        position: relative;
        margin-top: 40px;
    }
    .gtm-approach-section .gtm-a-col-01 {
        order: 1;
    }
    .gtm-approach-section .gtm-a-col-02 {
        order: 2;
    }
    .gtm-approach-section .gtm-a-col-03 {
        order: 3;
    }
    .gtm-approach-section .gtm-a-col-04 {
        order: 4;
    }
    .gtm-approach-section .gtm-a-item-middle {
        max-width: 350px;
        margin: 0 auto;
    }
    .gtm-approach-section .gtm-a-item-middle .a-item-title-middle {
        max-width: 60%;
    }
    .gtm-approach-section .gtm-a-item.gtm-a-item-01 .a-item-number-main {
        order: 1;
    }
    .gtm-approach-section .gtm-a-item.gtm-a-item-01 .a-item-content {
        order: 2;
    }
    .gtm-approach-section .gtm-a-item.gtm-a-item-04 .a-item-number-main {
        order: 1;
    }
    .gtm-approach-section .gtm-a-item.gtm-a-item-04 .a-item-content {
        order: 2;
    }
    .gtm-approach-section .gtm-a-item.gtm-a-item-01 .a-item-number-inner {
        margin-bottom: 40px;
        margin-top: 0;
    }
    .gtm-approach-section .gtm-a-item.gtm-a-item-04 .a-item-number-inner {
        margin-bottom: 40px;
        margin-top: 0;
    }
    .gtm-approach-section .gtm-a-item.gtm-a-item-01 .a-item-number-main::before {
        top: initial;
    }
    .gtm-approach-section .gtm-a-item.gtm-a-item-04 .a-item-number-main::before {
        top: initial;
    }
    .gtm-approach-section .gtm-a-item {
        margin-top: 60px;
    }
    .gtm-approach-section .gtm-a-item.gtm-a-item-01 {
        padding-top: 0;
    }
    .gtm-approach-section .gtm-a-item.gtm-a-item-04 {
        padding-top: 0;
    }
    .gtm-finding-ways-section .gtm-fw-content {
        max-width: 100%;
    }
    .gtm-faqs-section .gtm-faqs-title-row {
        margin-left: 5px;
        margin-right: 5px;
    }
    .gtm-faqs-section .gtm-faqs-list-row {
        margin-left: 5px;
        margin-right: 5px;
    }
    .gtm-product-strategy-section .gtm-ps-content {
        max-width: 100%;
    }
    .gtm-expand-section .gtm-ec-banner {
        margin-bottom: 70px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-img {
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-rec {
        left: 25%;
        transform: translate(-40%, 0);
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-vec {
        left: 15%;
        transform: translate(-30%, 0);
        bottom: -15px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-ellipse {
        bottom: initial;
        top: 0;
        left: 10%;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-vec-1 {
        bottom: initial;
        top: 0;
        left: calc(10% + 35px);
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-rec-1 {
        bottom: initial;
        top: 20px;
        left: calc(10% + 40px);
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-write-box {
        bottom: -50px;
        right: 15%;
    }
}


@media only screen and (max-width: 900.99px) {
    .gtm-expand-section .gtm-ec-banner .ec-b-write-box {
        right: 10%;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-vec {
        left: 13%;
    }
}


@media only screen and (max-width: 800.99px) {
    .gtm-expand-section .gtm-ec-banner .ec-b-rec {
        left: 20%;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-vec {
        left: 6%;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-ellipse {
        left: 5%;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-vec-1 {
        left: calc(5% + 35px);
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-rec-1 {
        left: calc(5% + 40px);
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-write-box {
        right: 4%;
    }
}


@media only screen and (max-width: 766.99px) {
    .gtm-faqs-section .gtm-faqs-list .faq-box-row .col-md-6:not(:last-child) .faq-box-main {
        margin-bottom: 15px;
    }
}


@media only screen and (max-width: 667.99px) {
    .gtm-expand-section .gtm-ec-banner {
        text-align: right;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-img {
        left: initial;
        transform: translate(0, 0);
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-rec {
        left: 30%;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-vec {
        left: 12%;
        bottom: 0;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-rec-2 {
        top: -70px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-write-box {
        right: 10px;
    }
}


@media only screen and (max-width: 620.99px) {
    .gtm-finding-ways-section .gtm-fw-content h2 {
        font-size: 28px;
    }
}


@media only screen and (max-width: 600.99px) {
    .gtm-banner-section .row > *, 
    .gtm-finding-ways-section .row > *, 
    .gtm-faqs-section .row > *, 
    .gtm-expand-section .row > *, 
    .gtm-product-strategy-section .row > *, 
    .gtm-write-us-modal .row > * {
        padding-right: calc(var(--bs-gutter-x) * .5) !important;
        padding-left: calc(var(--bs-gutter-x) * .5) !important;
    }
    .gtm-faqs-section .gtm-faqs-title-row {
        padding-left: 10px;
        padding-right: 10px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-rec {
        top: 0;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-vec {
        left: 8%;
        bottom: -25px;
    }
}


@media only screen and (max-width: 575.99px) {
    .gtm-write-us-modal .gtm-wu-modal-row {
        flex-direction: column-reverse;
    }
    .gtm-write-us-modal .modal-body {
        padding-left: 1rem;
    }
    .gtm-write-us-modal .gtm-wu-banner {
        margin-left: -1.7rem;
    }
}


@media only screen and (max-width: 500.99px) {
    .gtm-banner-section .gtm-banner-content h1 {
        font-size: 32px;
    }
    .gtm-finding-ways-section .gtm-fw-content h2 {
        font-size: 24px;
    }
    .gtm-faqs-section .gtm-faqs-list .accordion-button {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 18px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-write-box {
        position: relative;
        right: initial;
    }
    .gtm-expand-section .gtm-ec-desc {
        margin-top: 20px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-rec {
        top: -50px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-vec {
        bottom: initial;
        top: 180px;
    }
}


@media only screen and (max-width: 449.99px) {
    .gtm-expand-section .gtm-ec-banner .ec-b-rec {
        max-height: 280px;
        top: -30px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-vec {
        max-height: 70px;
    }
}


@media only screen and (max-width: 414.99px) {
    .gtm-faqs-section .gtm-faqs-list .faq-box-main .faq-box-img {
        margin-right: 25px;
    }
    .gtm-faqs-section .gtm-faqs-list .faq-box-main {
        padding: 20px;
    }
}


@media only screen and (max-width: 390.99px) {
    .gtm-banner-section .gtm-banner-content h1 {
        font-size: 28px;
    }
    .gtm-banner-section {
        padding-top: 50px;
    }
    .gtm-banner-section .gtm-banner-rec {
        right: 20%;
        top: 20px;
    }
    .gtm-finding-ways-section .gtm-fw-content h2 {
        font-size: 22px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-rec {
        max-height: 230px;
        top: -15px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-vec {
        top: 150px;
    }
    .gtm-expand-section .gtm-ec-desc h2 {
        font-size: 20px;
    }
    .gtm-expand-section .gtm-ec-desc ul li {
        font-size: 15px;
    }
    .gtm-faqs-section .gtm-faqs-list .faq-box-main .faq-box-title {
        font-size: 15px;
    }
    .gtm-faqs-section .gtm-faqs-list .faq-box-main .faq-box-img {
        margin-right: 15px;
    }
    .gtm-faqs-section .gtm-faqs-list .accordion-body {
        padding-left: 10px;
        padding-right: 10px;
    }
    .gtm-approach-section .gtm-a-item-middle .gtm-banner {
        height: auto;
    }
}


@media only screen and (max-width: 360.99px) {
    .gtm-banner-section .gtm-banner-content h1 {
        font-size: 24px;
    }
    .gtm-banner-section .gtm-banner-content .gtm-b-subtitle {
        font-size: 17px;
    }
    .gtm-approach-section .gtm-a-item-middle .a-item-title-middle {
        max-width: 70%;
    }
    .gtm-finding-ways-section .gtm-fw-content h2 {
        font-size: 20px;
    }
    .gtm-faqs-section .gtm-faqs-list .accordion-button {
        font-size: 16px;
    }
}


@media only screen and (max-width: 320.99px) {
    .gtm-approach-section .gtm-a-item-middle .a-item-title-middle {
        max-width: 80%;
        font-size: 20px;
    }
    .gtm-finding-ways-section .gtm-fw-content h2 {
        font-size: 18px;
    }
    .gtm-faqs-section .gtm-ft-content h2 {
        font-size: 20px;
    }
    .gtm-faqs-section .gtm-faqs-list .faq-box-main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .gtm-faqs-section .gtm-faqs-list .faq-box-main .faq-box-img {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .gtm-faqs-section .gtm-faqs-list .faq-box-main .faq-box-title {
        margin-top: 0;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-write-box {
        padding-left: 20px;
        padding-right: 20px;
    }
    .gtm-product-strategy-section .gtm-ps-content h2 {
        font-size: 28px;
    }
    .gtm-product-strategy-section .gtm-ps-content p {
        font-size: 15px;
    }
    .gtm-write-us-modal .modal-body {
        padding-left: .3rem;
        padding-right: .3rem;
    }
    .gtm-write-us-modal .gtm-wu-banner {
        margin-left: -1rem;
    }
    .gtm-write-us-modal .gtm-wu-heading {
        font-size: 28px;
    }
}


@media only screen and (max-width: 290.99px) {
    .gtm-banner-section .gtm-banner-content h1 {
        font-size: 22px;
    }
    .gtm-approach-section .gtm-a-item-middle .a-item-title-middle {
        font-size: 18px;
    }
    .gtm-faqs-section .gtm-faqs-title-row {
        padding-left: 5px;
        padding-right: 5px;
    }
    .gtm-faqs-section .gtm-ft-content h2 {
        font-size: 19px;
    }
    .gtm-faqs-section .gtm-faqs-list .faq-box-main {
        padding-left: 10px;
        padding-right: 10px;
    }
    .gtm-faqs-section .gtm-faqs-list .accordion-body .faq-btn {
        padding: 12px 20px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-rec {
        max-height: 180px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-vec {
        max-height: 50px;
        top: 110px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-ellipse {
        top: -80px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-vec-1 {
        top: -80px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-rec-1 {
        top: -60px;
    }
    .gtm-expand-section .gtm-ec-banner .ec-b-write-box {
        padding-left: 10px;
        padding-right: 10px;
    }
    .gtm-expand-section .gtm-ec-banner .bw-box-title {
        font-size: 17px;
    }
    .gtm-expand-section .gtm-ec-desc ul {
        padding-left: 20px;
    }
}