
.contact-map > iframe {
  width: 750px;
  height: 600px;
}



.conmap-detail-head > h2 {
  color: #3c708e;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.conmap-detail-head > p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  /* or 179% */

  color: #757575;
}

/*.bookcal-Image{
   width: 100%; 
}*/

.conmap-detail-head > button{
  margin: 2% !important;
}
.know_button a {
  color: #000;
}

.SpeakerBooking {
  border: 1px solid;
  border-color:#83b3ce #EED979 ;
  border-radius: 0%;
}

.contact-us-map-section iframe {
  width: 100%;
  height: 600px;
}

@media only screen and (max-width: 1350.99px) {
  .book-our-calendar .conmap-bookOurCalendar-inner {
    flex-direction: column;
    align-items: center;
  }
  .book-our-calendar .conmap-bookOurCalendar-inner .conmap-detail-head {
    text-align: center;
  }
  .conmap-bookOurCalendar-inner .conmap-detail-head > h2 {
    text-align: center;
  }
  .book-our-calendar .conmap-bookOurCalendar-inner .bookcal-Image {
    margin-top: 30px;
  }
}


@media only screen and (max-width: 991px) {
  .conmap-partners {
    text-align: center;
  }
  .conmap-detail-head > h2 {
    text-align: center;
  }
  .contact-us-map-section iframe {
    height: 400px;
  }
}


@media only screen and (max-width: 767px) {
  .book-our-calendar .conmap-bookOurCalendar-inner .bookcal-Image {
    margin-bottom: 30px;
  }
  .contact-us-map-section iframe {
    margin-bottom: 30px;
  }
}


@media only screen and (max-width: 600px){

   
  .bookcal-Image{

      width: 70%;
      height: 60%;
  }
}

@media only screen and (max-width: 1200px){
    .contact-map > iframe{
        width: 600px;
        height: 700px;
    }
}

@media only screen and (max-width: 1000px){
  .contact-map > iframe{
    width: 950px;
    height: 700px;
}
}

@media only screen and (max-width: 450px){
  .bookcal-Image{
    width: 50%;
  }
  .contact-us-map-section iframe {
    height: 300px;
  }
}