.cause-studies-container {
    margin-top: 80px;
}

.cause-studies-container h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-transform: none;
    color: #33657E;
    margin-bottom: 20px;
}
.cause-studies-container p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #232323;
}
.cause-studies-container .case-study-bottom-line {
    width: 100%;
    border: 3px solid #EDEDED;
}
.cause-studies-container ul {
    list-style-image: url("./img/cause-studies-list.png");
}
.cause-studies-container ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #232323;
    margin-bottom: 15px;
}

.cause-studies-container .case-study-banner {
    background: #FFFFFF;
    box-shadow: 0px 4px 45px rgba(77, 82, 96, 0.15);
    position: relative;
    padding-top: 100px;
    padding-bottom: 60px;
    margin-bottom: 50px;
}
.cause-studies-container .case-study-banner .case-study-rec {
    position: absolute;
}
.cause-studies-container .case-study-banner .case-study-rec-1 {
    left: 0;
    top: 40px;
}
.cause-studies-container .case-study-banner .case-study-rec-2 {
    left: 30px;
    top: 230px;
}
.cause-studies-container .case-study-banner .case-study-rec-3 {
    right: 20px;
    top: 30%;
}
.cause-studies-container .case-study-banner .case-study-banner-content {
    margin-bottom: 60px;
    display: inline-block;
}
.cause-studies-container .case-study-banner .heading {
    margin-bottom: 25px;
}
.cause-studies-container .case-study-banner .heading h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-transform: none;
    color: #33657E;
    margin-bottom: 25px;
}
.cause-studies-container .case-study-banner .heading .title-line {
    width: 80px;
    border: 3px solid #A06DAF;
}
.cause-studies-container .case-study-banner .case-study-logo-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cause-studies-container .case-study-banner .case-study-logo-main img {
    max-width: 100%;
}
.cause-studies-container .case-study-banner .case-study-logo-main .case-study-logo {
    margin-bottom: 20px;
}

.cause-studies-container .case-study-challenge-container {
    margin-bottom: 30px;
}
/* .cause-studies-container .case-study-challenge-row {
    align-items: center;
} */
.cause-studies-container .case-study-challenge-row .case-study-challenge-img {
    margin-top: -130px;
}
.cause-studies-container .case-study-challenge-row .case-study-challenge-img img {
    max-width: 100%;
}
.cause-studies-container .case-study-challenge-row .case-study-challenge-content {
    margin-top: 100px;
}

.cause-studies-container .case-study-glance-container {
    padding-top: 40px;
    padding-bottom: 50px;
}
.cause-studies-container .case-study-glance-box {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.cause-studies-container .case-study-glance-box img {
    max-height: 200px;
    width: auto;
}
.cause-studies-container .case-study-glance-box .case-study-glance-box-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #33657E;
}

.cause-studies-container .case-study-solution-container {
    padding-top: 40px;
    padding-bottom: 60px;
}

.cause-studies-container .case-study-related-box {
    background: #33657E;
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-bottom: 80px;
}
.cause-studies-container .case-study-related-box .case-study-related-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    text-transform: none;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.cause-studies-container .case-study-related-box ul {
    list-style: none;
    padding-left: 0;
}
.cause-studies-container .case-study-related-box ul li {
    background: #5C869B;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 25px;
    text-align: center;
    cursor: pointer;
    padding: 12px;
}
.cause-studies-container .case-study-related-box .case-study-all {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.cause-studies-container .case-study-related-box .case-study-all img {
    margin-left: 10px;
}

.cause-studies-container .case-study-suggested-box-main {
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(45, 57, 75, 0.15);
    border-radius: 6px;
}
.cause-studies-container .case-study-suggested-top-line {
    height: 3px;
    background: #33657E;
    box-shadow: 0px 10px 30px rgba(45, 57, 75, 0.15);
    border-radius: 20px;
    margin: 0 6px;
}
.cause-studies-container .case-study-suggested-box {
    padding: 25px;
}
.cause-studies-container .case-study-suggested-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #33657E;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cause-studies-container .case-study-suggested-title::after {
    border-bottom: 0;
    border-left: .3em solid transparent;
    border-right: .3em solid transparent;
    border-top: .3em solid;
    content: "";
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
}
.cause-studies-container .case-study-suggested-content {
    margin-bottom: 35px;
}
.cause-studies-container .case-study-suggested-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #232323;
 }
.cause-studies-container .case-study-suggested-btn {
    background: linear-gradient(95.12deg, #EED979 0%, #6CA0BC 83.42%), linear-gradient(180deg, #F49AF4 0%, #C21EC2 100%);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 8px 20px;
    display: inline-block;
    cursor: pointer;
}
.cause-studies-container .case-study-suggested-btn:hover {
    background: linear-gradient(95.12deg, #6CA0BC 0%, #EED979 83.42%), linear-gradient(180deg, #F49AF4 0%, #C21EC2 100%);
}

.cause-studies-container .case-study-outcome-container .case-study-outcome-video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cause-studies-container .case-study-outcome-container .case-study-outcome-video-banner {
    width: 100%;
}
.cause-studies-container .case-study-outcome-container .case-study-outcome-video-banner img {
    width: 100%;
}
.cause-studies-container .case-study-outcome-container .case-study-outcome-play {
    position: absolute;
    cursor: pointer;
}
.cause-studies-container .case-study-outcome-container .case-study-outcome-content-main {
    margin-bottom: 80px;
}
.cause-studies-container .case-study-outcome-container .case-study-outcome-content-main .case-study-outcome-content {
    margin-top: 80px;
}
.cause-studies-container .case-study-outcome-container .case-study-testimonial {
    background: #FEF9FF;
    box-shadow: 0px 10px 30px rgba(45, 57, 75, 0.15);
    border-radius: 20px;
    padding: 30px 30px 80px;
    margin-top: -100px;
}
.cause-studies-container .case-study-outcome-container .case-study-testi-img {
    max-width: 100%;
    margin-top: -130px;
    margin-bottom: 25px;
}
.cause-studies-container .case-study-outcome-container .case-study-testi-logo {
    background-color: #fff;
    border: 4px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 14px 14px -10px rgba(24, 33, 48, 0.15);
    border-radius: 10px;
    margin-top: -90px;
    margin-bottom: 35px;
    padding: 25px 10px;
    max-width: 100%;
}
.cause-studies-container .case-study-outcome-container .case-study-testi-quote {
    max-width: 100%;
}
.cause-studies-container .case-study-outcome-container .case-study-testi-content p {
    margin-top: -20px;
}

.cause-studies-container .case-study-business-level-container {
    margin-bottom: 100px;
}
.cause-studies-container .case-study-business-level-container .case-study-business-level-row {
    background: #FFFFFF;
    border: 1px solid #E1E4E6;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 50px 30px;
    margin-left: 15px;
    margin-right: 15px;
}
.cause-studies-container .case-study-business-level-container .case-study-business-level-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: none;
    color: #33657E;
    margin-bottom: 30px;
}
.cause-studies-container .case-study-business-level-container .case-study-business-level-content {
    display: flex;
    align-items: center;
}
.cause-studies-container .case-study-business-level-container .case-study-business-level-content span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #232323;
    width: 30%;
}
.cause-studies-container .case-study-business-level-container .case-study-business-level-dd {
    background: linear-gradient(180deg, rgba(252, 241, 255, 0) 0%, #FCF1FF 100%);
    padding: 5px 20px;
    border-bottom: 1px solid #A06DAF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #A06DAF;
    width: 40%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cause-studies-container .case-study-business-level-container .case-study-business-level-dd:after {
    border-bottom: 0;
    border-left: .3em solid transparent;
    border-right: .3em solid transparent;
    border-top: .3em solid;
    content: "";
    display: inline-block;
    margin-left: .255em;
}
.cause-studies-container .case-study-business-level-container .case-study-business-level-dd:focus::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}
.cause-studies-container .case-study-business-level-container .case-study-business-expand p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #232323;
    margin-bottom: 25px;
}
.cause-studies-container .case-study-business-level-container .case-study-business-expand-form .form-control {
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #C2BDC8;
    padding: 14px;
    outline: 0;
    box-shadow: unset;
}
.cause-studies-container .case-study-business-level-container .case-study-business-expand-form .business-expand-btn {
    background: linear-gradient(95.12deg, #EED979 0%, #6CA0BC 83.42%), linear-gradient(180deg, #F49AF4 0%, #C21EC2 100%);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 45px;
    outline: 0;
    box-shadow: unset;
    border-width: 0;
    margin-top: 15px;
}
.cause-studies-container .case-study-business-level-container .case-study-business-expand-form .business-expand-btn:hover {
    background: linear-gradient(95.12deg, #6CA0BC 0%, #EED979 83.42%), linear-gradient(180deg, #F49AF4 0%, #C21EC2 100%);
}

.cause-studies-container .case-study-related-container {
    margin-bottom: 50px;
}
.cause-studies-container .case-study-related-container .related-case-study-carousel .case-study-item {
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    filter: drop-shadow(0px 16px 40px rgba(0, 0, 0, 0.05));
    box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 60px;
  }
  .cause-studies-container .case-study-related-container .related-case-study-carousel .case-study-item .case-study-item-img {
    height: 300px;
    overflow-y: auto;
  }
  .cause-studies-container .case-study-related-container .related-case-study-carousel .case-study-item .case-study-item-img img {
      width: 100%;
  }
  .cause-studies-container .case-study-related-container .related-case-study-carousel .case-study-item .case-study-item-content {
      border-top: 1px solid #EFEFEF;;
      padding: 15px 15px 20px;
      background-color: #fff;
  }
  .cause-studies-container .case-study-related-container .related-case-study-carousel .case-study-item .case-study-item-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #33657E;
    margin-bottom: 15px;
  }
  .cause-studies-container .case-study-related-container .related-case-study-carousel .case-study-item .case-study-item-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #33657E;
    margin-bottom: 15px;
  }
  .cause-studies-container .case-study-related-container .related-case-study-carousel .case-study-item .case-study-item-explore {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #33657E;
    cursor: pointer;
  }
  .cause-studies-container .case-study-related-container .related-case-study-carousel .case-study-item .case-study-item-explore img {
      margin-left: 5px;
  }
  .cause-studies-container .case-study-related-container .related-case-study-carousel .related-case-study-arrow {
    position: absolute;
    top: calc(50% - 17.5px);
    height: 50px;
    width: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
    z-index: 10;
    cursor: pointer;
    font-size: 10px;
    opacity: 1;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cause-studies-container .case-study-related-container .related-case-study-carousel .related-case-study-arrow-prev {
    left: -50px;
    right: initial;
  }
.cause-studies-container .case-study-related-container .related-case-study-carousel .related-case-study-arrow-next {
    left: initial;
    right: -50px;
}
.cause-studies-container .case-study-content-img {
    text-align: center;
}
.cause-studies-container .case-study-content-img img {
    max-width: 100%;
}

.cause-studies-container .case-study-business-level-content {
    margin-top: 60px;
    margin-left: 60px;
}
.cause-studies-container .case-study-business-level-content .case-study-business-level-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: none;
    color: #33657E;
    margin-bottom: 10px;
}
.cause-studies-container .case-study-business-level-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #232323;
}
.cause-studies-container .case-study-business-level-content .case-study-business-level-form {
    margin-top: 25px;
    display: inline-block;
    width: 100%;
}
.cause-studies-container .case-study-business-level-content .case-study-business-level-form .form-control {
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #C2BDC8;
    padding: 14px;
    outline: 0;
    box-shadow: unset;
}
.cause-studies-container .case-study-business-level-content .case-study-business-level-form .business-level-btn {
    background: linear-gradient(95.12deg, #EED979 0%, #6CA0BC 83.42%), linear-gradient(180deg, #F49AF4 0%, #C21EC2 100%);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 45px;
    outline: 0;
    box-shadow: unset;
    border-width: 0;
    margin-top: 10px;
}
.cause-studies-container .case-study-business-level-content .case-study-business-level-form .business-level-btn:hover {
    background: linear-gradient(95.12deg, #6CA0BC 0%, #EED979 83.42%), linear-gradient(180deg, #F49AF4 0%, #C21EC2 100%);
}


@media only screen and (max-width: 1025px) {
    .cause-studies-container .case-study-related-container .related-case-study-carousel .related-case-study-arrow-prev {
        left: 0;
    }
    .cause-studies-container .case-study-related-container .related-case-study-carousel .related-case-study-arrow-next {
        right: 0;
    }
}


@media only screen and (max-width: 991px) {
    .cause-studies-container .case-study-business-level-content {
        margin-left: 30px;
    }
    .cause-studies-container .case-study-related-container .related-case-study-carousel .related-case-study-arrow {
        width: 40px;
        height: 40px;
    }
    .cause-studies-container .case-ssc-icon {
        max-height: 120px;
    }
}


@media only screen and (max-width: 767px) {
    .cause-studies-container .case-study-banner {
        margin-bottom: 30px;
        padding-top: 50px;
    }
    .cause-studies-container .case-study-banner .case-study-banner-content {
        margin-bottom: 30px;
    }
    .cause-studies-container .case-study-glance-container {
        padding-top: 20px;
        padding-bottom: 0;
    }
    .cause-studies-container .case-study-solution-container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .cause-studies-container .case-study-glance-container h2 {
        text-align: center;
    }
    .cause-studies-container .case-study-glance-box {
        margin-bottom: 30px;
    }
    .cause-studies-container .case-study-outcome-container .case-study-testimonial {
        margin-top: 80px;
        padding-bottom: 30px;
    }
    .cause-studies-container .case-study-business-level-content {
        margin-left: 0;
        margin-top: 40px;
    }
    .cause-studies-container .case-study-outcome-container .case-study-outcome-content-main {
        margin-bottom: 60px;
    }
    .cause-studies-container .case-study-related-container {
        margin-bottom: 10px;
    }
    .cause-studies-container .case-study-related-container .related-case-study-carousel .case-study-item {
        box-shadow: unset;
    }
    .cause-studies-container .case-study-solution-content {
        margin-bottom: 30px;
    }
}


@media only screen and (max-width: 640.99px) {
    .cause-studies-container .case-study-banner .heading h1 {
        font-size: 28px;
    }
}


@media only screen and (max-width: 600.99px) {
    .cause-studies-container .row > * {
        padding-right: calc(var(--bs-gutter-x) * .5) !important;
        padding-left: calc(var(--bs-gutter-x) * .5) !important;
    }
}


@media only screen and (max-width: 480.99px) {
    .cause-studies-container .case-study-banner {
        padding-top: 30px;
    }
    .cause-studies-container .case-study-banner .heading h1 {
        font-size: 24px;
    }
}


@media only screen and (max-width: 390.99px) {
    .cause-studies-container .case-study-banner .heading h1 {
        font-size: 22px;
    }
}


@media only screen and (max-width: 345.99px) {
    .cause-studies-container .case-study-banner .heading h1 {
        font-size: 20px;
    }
}


@media only screen and (max-width: 300.99px) {
    .cause-studies-container .case-study-banner .heading h1 {
        font-size: 18px;
    }
    .cause-studies-container .case-study-related-container .related-case-study-carousel .case-study-item .case-study-item-title {
        font-size: 20px;
    }
    .cause-studies-container .case-study-business-level-content .case-study-business-level-title {
        font-size: 16px;
    }
}