.insights .insight-item {
    overflow: hidden;
    margin-bottom: 30px;
}
.insights .insight-item img {
    max-width: 100%;
    width: 100%;
    height: 160px;
    transition: transform 1s ease-in-out;
    transform-origin: center center;
}
.insights .insight-item img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.insights .insight-item .insight-item-category {
    color: #31647c;
    font-size: 16px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
}
.insights .insight-item .insight-item-title {
    color: rgb(31, 31, 31);
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    display: inline-block;
}

.insights-heading {
    position: relative;
    border-top: 1px solid #31647c;
    padding-top: 25px;
    padding-bottom: 25px;
}
.insights-heading::before {
    background: #31647c;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 4px;
}
.insights-heading a {
    color: rgb(31, 31, 31);
    font-size: 24px;
    font-weight: 700;
}
.insights-heading a:hover {
    color: #31647c;
}
.insights-heading svg {
    vertical-align: middle;
    margin-left: 0.5rem;
    width: auto;
    height: 16px;
    display: inline-block;
    color: #31647c;
}


.insights-latest-section {
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.insights-latest-section .latest-insight-row {
    margin-bottom: 40px;
}
.insights-latest-section .latest-insight-col {
    background-color: #a06db0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.insights-latest-section .category {
    color: #a06db0;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}
.insights-latest-section .category:hover {
    color: #fff;
}
.insights-latest-section .title-first {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}
.insights-latest-section .title-first a {
    color: #fff;
}
.insights-latest-section .insight-content-first p {
    color: #fff;
    margin-bottom: 0;
}
.insights-latest-section .insight-content-first {
    max-width: 85%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.insights-latest-section .insight-banner-first {
    overflow: hidden;
}
.insights-latest-section .insight-banner-first img {
    max-width: 100%;
    transition: transform 1s ease-in-out;
    transform-origin: center center;
}
.insights-latest-section .insight-banner-first img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}


.insights-constructions-section {
    padding-top: 30px;
    padding-bottom: 30px;
}
.insights-constructions-section .insights-c-title-row {
    align-items: stretch;
    margin-bottom: 40px;
}
.insights-constructions-section .c-banner-first {
    overflow: hidden;
}
.insights-constructions-section .c-banner-first img {
    max-width: 100%;
    width: 100%;
    transition: transform 1s ease-in-out;
    transform-origin: center center;
}
.insights-constructions-section .c-banner-first img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.insights-constructions-section .c-content-first-col {
    border-color: #31647c;
    border-style: solid;
    border-width: 1px 0 1px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.insights-constructions-section .c-content-first {
    padding-left: 30px;
}
.insights-constructions-section .category {
    color: #a06db0;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}
.insights-constructions-section .insight-item {
    overflow: hidden;
}
.insights-constructions-section .insight-item img {
    max-width: 100%;
    width: 100%;
    height: 160px;
    transition: transform 1s ease-in-out;
    transform-origin: center center;
}
.insights-constructions-section .insight-item img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.insights-constructions-section .box-item-category {
    color: #31647c;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.insights-constructions-section .box-item-title {
    font-size: 18px;
    font-weight: bold;
}
.insights-constructions-section .box-item-title a {
    color: rgb(31, 31, 31);
}
.insights-constructions-section .c-insight-col-box a {
    overflow: hidden;
}
.insights-constructions-section .c-insight-col-box img {
    max-width: 100%;
    transition: transform 1s ease-in-out;
    transform-origin: center center;
    height: 100px;
    width: 100%;
    object-fit: cover;
}
.insights-constructions-section .c-insight-col-box img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.insights-constructions-section .c-insight-col-row {
    margin-bottom: 20px;
}
.insights-constructions-section .c-insight-col-title a {
    font-size: 14px;
    font-weight: 600;
    color: rgb(31, 31, 31);
}
.insights-constructions-section .title-first a {
    color: #31647c;
    font-size: 24px;
    margin-bottom: 15px;
    display: inline-block;
}

.insights-podcasts-section {
    padding-top: 30px;
    padding-bottom: 30px;
}
.insights-podcasts-section .insights-p-music img {
    width: 100%;
}
.insights-podcasts-section .insights-p-col {
    background: #6ca0bc;
}
.insights-podcasts-section .insights-p-about {
    padding: 20px 15px;
}
.insights-podcasts-section .insights-p-about img {
    max-width: 100%;
    margin-bottom: 15px;
}
.insights-podcasts-section .insights-p-about .insights-p-about-title {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.insights-podcasts-section .insights-p-about p {
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 14px;
}
.insights-podcasts-section .insights-p-about a {
    background: #E6E6E6;
    color: #6B717B;
    border-radius: 4px;
    font-weight: 500;
    padding: 15px 25px;
    margin-top: 15px;
    display: inline-block;
}

.insights-video-section {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}
.insights-video-section .insights-video-section-bg {
    position: absolute;
    width: 100%;
    height: 90%;
    background-color: #a06db0;
}
.insights-video-section .insights-v-title {
    font-size: 22px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.insights-video-section .insights-v-title a {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}
.insights-video-section .insights-v-title svg {
    vertical-align: middle;
    margin-left: 0.5rem;
    width: auto;
    height: 16px;
    display: inline-block;
    color: #fff;
}
.insights-video-section .insights-v-first-row {
    align-items: center;
    margin-bottom: 40px;
}
.insights-video-section .v-banner-first {
    overflow: hidden;
}
.insights-video-section .v-banner-first img {
    max-width: 100%;
    transition: transform 1s ease-in-out;
    transform-origin: center center;
}
.insights-video-section .v-banner-first img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.insights-video-section .v-banner-first a {
    position: relative;
}
.insights-video-section .v-banner-first svg {
    width: 50px;
    height: 58px;
    display: inline-block;
    line-height: 1em;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.insights-video-section .v-title-first {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
}
.insights-video-section .v-title-first a {
    color: #fff;
}
.insights-video-section .v-content-first {
    padding-left: 50px;
}
.insights-video-section .v-content-first p {
    color: #fff;
}
.insights-video-section .video-box-item {
    overflow: hidden;
}
.insights-video-section .video-box-item img {
    max-width: 100%;
    transition: transform 1s ease-in-out;
    transform-origin: center center;
    margin-bottom: 10px;
}
.insights-video-section .video-box-item img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.insights-video-section .video-box-item a {
    position: relative;
}
.insights-video-section .video-box-item svg {
    width: 50px;
    height: 58px;
    display: inline-block;
    line-height: 1em;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.insights-video-section .video-box-item .box-item-title {
    font-size: 18px;
    font-weight: bold;
}
.insights-video-section .video-box-item .box-item-title a {
    color: rgb(31, 31, 31);
}

.insights-fintech-section {
    padding-top: 4px;
    padding-bottom: 40px;
}
.insights-fintech-section .fintech-item {
    margin-bottom: 40px;
}
.insights-fintech-section .fintech-item a {
    font-weight: 600;
    color: rgb(31, 31, 31);
    font-size: 15px;
    margin-bottom: 5px;
    display: inline-block;
}
.insights-fintech-section .fintech-item .category {
    color: #31647c;
    font-weight: 600;
    font-size: 14px;
}
.insights-fintech-section .fintech-item .date {
    color: rgba(31, 31, 31, .6);
    font-size: 14px;
}

.insights-fintech-section .latest-insight-item a {
    font-weight: 500;
    color: rgb(31, 31, 31);
    font-size: 15px;
    margin-bottom: 15px;
    display: inline-block;
}
.insights-fintech-section .latest-insight-item .posted-date {
    color: rgba(31, 31, 31, .6);
    font-weight: 500;
}
.insights-fintech-section .latest-insight-item .posted-date .date {
    font-weight: 600;
}

.insights-meditech-explore-section {
    padding-top: 40px;
    padding-bottom: 40px;
}
.insights-meditech-explore-section .insights-meditech-item-row {
    margin-bottom: 30px;
}
.insights-meditech-explore-section .meditech-item-banner {
    overflow: hidden;
}
.insights-meditech-explore-section .meditech-item-banner img {
    max-width: 100%;
    transition: transform 1s ease-in-out;
    transform-origin: center center;
}
.insights-meditech-explore-section .meditech-item-banner img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.insights-meditech-explore-section .meditech-item-category {
    color: #31647c;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
}
.insights-meditech-explore-section .meditech-item-title {
    font-size: 17px;
    font-weight: 700;
    color: rgb(31, 31, 31);
    width: 100%;
    display: inline-block;
}
.insights-meditech-explore-section .explore-list a {
    color: rgb(31, 31, 31);
    font-size: 16px;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 500;
    width: 100%;
}
.insights-meditech-explore-section .insights-me-subscribe {
    background: #6ca0bc;
    padding: 20px 15px;
}
.insights-meditech-explore-section .insights-me-subscribe img {
    max-width: 100%;
    margin-bottom: 15px;
}
.insights-meditech-explore-section .insights-me-subscribe .insights-subscribe-title {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.insights-meditech-explore-section .insights-me-subscribe p {
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 15px;
}
.insights-meditech-explore-section .insights-mes-form {
    position: relative;
}
.insights-meditech-explore-section .insights-mes-form .emailid {
    width: 100%;
    outline: 0;
    border-width: 0;
    position: relative;
    transition: all 0.2s;
    background: #FFFFFF;
    font-size: 16px;
    padding-left: 1rem;
    padding-right: 2.5rem;
    height: 40px;
    border-radius: 0.375rem;
    color: rgb(31, 31, 31);
}
.insights-meditech-explore-section .insights-mes-form .emailid::-webkit-input-placeholder { /* Edge */
    color: rgba(31, 31, 31, .6);
}
.insights-meditech-explore-section .insights-mes-form .emailid:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(31, 31, 31, .6);;
}
.insights-meditech-explore-section .insights-mes-form .emailid::placeholder {
    color: rgba(31, 31, 31, .6);;
}
.insights-meditech-explore-section .insights-mes-form .insights-mes-btn {
    background-color: #31647c;
    color: #FFFFFF;
    border-width: 0;
    border-radius: 0 0.25rem 0.25rem 0;
    position: absolute;
    right: 0;
    height: 40px;
    top: 0;
}
.insights-meditech-explore-section .insights-mes-form .insights-mes-btn svg {
    width: 40px;
    height: 50%;
}
.insights-meditech-explore-section .insights-me-boxes {
    background-color: #31647c;
    margin-top: 25px;
    padding: 20px 15px;
}
.insights-meditech-explore-section .insights-me-boxes .me-box-title {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.insights-meditech-explore-section .insights-me-boxes p {
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 15px;
}
.insights-meditech-explore-section .insights-me-boxes a {
    background: #E6E6E6;
    color: #31647c;
    border-radius: 4px;
    font-weight: 500;
    padding: 13px 25px;
    margin-top: 10px;
    display: inline-block;
}

.insights-jobs-skills-section {
    padding-top: 40px;
    padding-bottom: 40px;
}


.insights-our-impact-section {
    padding-top: 40px;
    padding-bottom: 60px;
}


/* responsive start */
@media only screen and (min-width: 992px) and (max-width: 1399.99px) {
    .insights .container-lg {
        max-width: 100%;
    }
    .insights-constructions-section .title-first a {
        font-size: 22px;
    }
    .insights-meditech-explore-section .meditech-item-title {
        font-size: 16px;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1080.99px) {
    .insights .insight-item .insight-item-title {
        font-size: 15px;
    }
    .insights-meditech-explore-section .meditech-item-category {
        font-size: 14px;
    }
    .insights-meditech-explore-section .meditech-item-title {
        font-size: 14px;
    }
    .insights-meditech-explore-section .insights-me-subscribe .insights-subscribe-title {
        font-size: 16px;
    }
    .insights-constructions-section .c-content-first {
        padding-left: 0;
    }
    .insights-meditech-explore-section .insights-me-subscribe p {
        font-size: 14px;
    }
}


@media only screen and (max-width: 991.99px) {
    .insights-latest-section .latest-insight-col {
        background-color: transparent;
    }
    .insights-latest-section .insight-content-first {
        max-width: 100%;
        background-color: #32363E;
        padding: 30px 20px;
    }
    .insights .insight-item img {
        height: 240px;
    }
    .insights-constructions-section .c-insight-col-box img {
        height: 130px;
    }
    .insights-constructions-section .c-content-first-col {
        border-width: 0;
    }
    .insights-constructions-section .c-content-first {
        padding: 15px 0;
        border-color: #31647c;
        border-style: solid;
        border-width: 1px 0 1px 0;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .insights-constructions-section .c-content-first p {
        margin-bottom: 0;
    }
    .insights-podcasts-section .insights-p-col {
        background: transparent;
    }
    .insights-podcasts-section .insights-p-about {
        background-color: #32363E;
        margin-top: 10px;
    }
    .insights-video-section .v-content-first {
        padding-left: 0;
        margin-top: 10px;
    }
    .insights-constructions-section .insights-c-title-row {
        margin-bottom: 0;
    }
}


@media only screen and (max-width: 767.99px) {
    .insights .insight-item img {
        height: 175px;
    }
    .insights-constructions-section .c-insight-col-box img {
        height: 100px;
    }
}


@media only screen and (max-width: 600.99px) {
    .insights .row > * {
        padding-right: calc(var(--bs-gutter-x) * .5) !important;
        padding-left: calc(var(--bs-gutter-x) * .5) !important;
    }
}


@media only screen and (max-width: 575.99px) {
    .insights .insight-item img {
        height: auto;
    }
    .insights-constructions-section .c-insight-col-box img {
        height: auto;
    }
    .insights-constructions-section .c-insight-col-title a {
        margin-top: 10px;
        display: inline-block;
    }
    .insights-meditech-explore-section .meditech-item-banner img {
        width: 100%;
    }
    .insights-meditech-explore-section .meditech-item-content {
        margin-top: 10px;
    }
    .insights-meditech-explore-section .meditech-item-category {
        margin-bottom: 0;
    }
}


@media only screen and (max-width: 520.99px) {
    .insights-constructions-section .title-first a {
        font-size: 22px;
    }
}


@media only screen and (max-width: 449.99px) {
    .insights-constructions-section .title-first a {
        font-size: 20px;
    }
    .insights-meditech-explore-section .meditech-item-category {
        font-size: 15px;
    }
    .insights-meditech-explore-section .meditech-item-title {
        font-size: 15px;
        line-height: 20px;
    }
}


@media only screen and (max-width: 414.99px) {
    .insights-latest-section .insight-content-first {
        padding-left: 10px;
        padding-right: 10px;
    }
    .insights-latest-section .title-first {
        font-size: 22px;
    }
    .insights-latest-section .insight-content-first p {
        font-size: 15px;
    }
    .insights .insight-item .insight-item-category {
        font-size: 15px;
    }
    .insights .insight-item .insight-item-title {
        font-size: 15px;
    }
    .insights-heading a {
        font-size: 22px;
    }
}


@media only screen and (max-width: 360.99px) {
    .insights-meditech-explore-section .insights-heading a {
        font-size: 20px;
    }
}


@media only screen and (max-width: 320.99px) {
    .insights-meditech-explore-section .insights-heading a {
        font-size: 18px;
    }
    .insights-meditech-explore-section .insights-heading svg {
        height: 14px;
        margin-left: 5px;
    }
    .insights-fintech-section .insights-heading a {
        font-size: 19px;
    }
    .insights-fintech-section .insights-heading svg {
        height: 14px;
        margin-left: 5px;
    }
    .insights-constructions-section .title-first a {
        font-size: 18px;
    }
    .insights-latest-section .title-first {
        font-size: 21px;
    }
}