.service-insights-page {
    margin-top: 80px;
}

.service-insights-page .si-link {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #33657E;
    margin-bottom: 1em;
    display: inline;
    position: relative;
    text-transform: uppercase;
}
.service-insights-page .si-link svg {
    fill: #3c708e;
    height: 15px;
    margin-left: 5px
}
.service-insights-page .si-link::before {
    display: block;
    position: absolute;
    content: "";
    height: .08125em;
    max-width: calc(100% - 2rem);
    width: 0%;
    -webkit-transition: width 300ms ease;
    -moz-transition: width 300ms ease;
    -o-transition: width 300ms ease;
    transition: width 300ms ease;
    left: 0;
    bottom: -6px;
    background: #3c708e;
}

.service-insights-page .si-link img {
    margin-left: 5px;
}

.service-insights-page .si-link:hover::before {
    width: 100%;
}

.service-insights-page .si-front-back-link {
    font-size: 1rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding-top: 15px;
    border-radius: 0;
    transition: all .3s ease-out;
}

.service-insights-page .si-front-back-link .si-link-front {
    color: #fff;
    background-color: #3c708e;
    border-color: #3c708e;
    backface-visibility: hidden;
    transition: all .3s ease-out;
    padding: .938rem .938rem;
    font-size: .875rem;
    line-height: 1rem;
    border-radius: 0;
    min-width: 13.4rem;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    white-space: nowrap;
    margin: .938rem .625rem;
}

.service-insights-page .si-front-back-link span {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .875rem;
}

.service-insights-page .si-front-back-link .si-link-behind {
    height: 2.94em;
    opacity: 1;
    position: relative;
    z-index: -1;
    color: #a06daf;
    background: #a06daf;
    margin-top: -3.0625rem;
    margin-left: .875rem;
    margin-right: .35rem;
    padding: .938em .938em;
    font-size: .875em;
    line-height: 1em;
}

.service-insights-page .si-front-back-link:hover .si-link-front {
    transform: translate(-5px, -5px);
}

/* banner start */
.si-banner-section {
    position: relative;
}

.si-banner-section .si-b-video {
    position: absolute;
    width: 100%;
    height: 100%;
}

.si-banner-section .si-b-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.si-banner-section .si-b-content {
    padding-top: 150px;
    padding-bottom: 150px;
    max-width: 70%;
}

.si-banner-section .si-b-content h1 {
    color: #fff;
}

.si-banner-section .si-b-content p {
    color: #fff;
}

/* banner end */

/* jumplink start */
.si-jumplink-section {
    border: 1px solid #e3e3e3;
    background-color: #f2f2f2;
    width: 100%;
}

.si-jumplink-section.jumplink-sticky {
    position: fixed;
    top: 80px;
    z-index: 5;
}

.si-jumplink-section a {
    color: #232323;
    padding-top: 15px;
    padding-bottom: 12px;
    display: inline-block;
    width: 100%;
    border-bottom: 3px solid transparent;
}

.si-jumplink-section a:hover {
    border-bottom-color: #33657e;
}

/* jumplink end */

/* announcement start */
.si-announcement-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.si-announcement-section .si-a-row {
    background-color: #f2f2f2;
    align-items: center;
}

.si-announcement-section .si-a-banner {
    text-align: center;
    padding-left: 0;
}

.si-announcement-section .si-a-banner img {
    max-width: 100%;
    height: 100%;
}
.si-announcement-section .si-a-content {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
}
.si-announcement-section .si-a-content .si-a-desc {
    flex: 0 0 75%;
}
.si-announcement-section .si-a-content .si-a-btn {
    flex: 0 0 25%;
}
.si-announcement-section .si-a-content .si-a-date {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #AC74BC;
    margin-bottom: 10px;
}
.si-announcement-section .si-a-content h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    color: #33657E;
    margin-bottom: 0;
    text-transform: capitalize;
}
.si-announcement-section .si-a-content .si-a-organised {
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    color: #6CA0BC;
    line-height: 1;
    margin-bottom: 5px;
}
.si-announcement-section .si-a-content .si-a-btn .si-a-link {
    background: linear-gradient(93.61deg, #E5CD60 0%, #6CA0BC 89.25%);
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: #FFFFFF;
    padding: 10px 19px;
}

/* announcement end */

/* high-tech-industry start */
.si-high-tech-industry-section {
    background-color: #f2f2f2;
    padding-top: 40px;
    padding-bottom: 40px;
}

.si-high-tech-industry-section .si-hti-title {
    max-width: 100%;
    margin-bottom: 30px;
}

.si-high-tech-industry-section .si-hti-title h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    text-transform: capitalize;
    color: #33657E;
}
.si-high-tech-industry-section .si-hti-content h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    text-transform: capitalize;
    color: #33657E;
    margin-bottom: 20px;
}
.si-high-tech-industry-section .si-hti-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #232323;
    margin-bottom: 15px;
}

.si-high-tech-industry-section .si-hti-video iframe {
    width: 100%;
    height: 300px;
}

.si-high-tech-industry-section .si-hti-v-content {
    padding-left: 20px;
    padding-top: 20px;
}

.si-high-tech-industry-section .si-hti-video-title {
    max-width: 60%;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #212529;
    margin-bottom: 15px;
}

/* high-tech-industry end */

/* blockchain start */
.si-blockchain-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.si-blockchain-section .si-blockchain-row {
    box-shadow: 0 .13em .25em 0 rgba(0, 0, 0, .2);
    background-color: #f2f2f2;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
}

.si-blockchain-section .si-b-icon {
    max-width: 100%;
}

.si-blockchain-section .si-b-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #212529;
    text-transform: uppercase;
}

.si-blockchain-section p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #232323;
}

.si-blockchain-section .si-link-col {
    text-align: center;
}

/* blockchain end */

/* high-tech-blog start */
.si-high-tech-blog-section {
    background-color: #f2f2f2;
    padding-top: 40px;
    padding-bottom: 40px;
}

.si-high-tech-blog-section .si-htb-title {
    max-width: 60%;
    margin-bottom: 30px;
}

.si-high-tech-blog-section .si-htb-title h2 {
    font-size: 3rem;
}

.si-high-tech-blog-section .si-htb-content p {
    margin-bottom: 25px;
}

.si-high-tech-blog-section .si-htb-content ul {
    padding-left: 50px;
    margin-bottom: 50px;
}

.si-high-tech-blog-section .si-htb-content ul li {
    padding-left: 20px;
    margin-bottom: 20px;
}

.si-high-tech-blog-section .si-htb-content ul li a {
    color: #3c708e;
    text-decoration: underline !important;
}

.si-high-tech-blog-section .si-htb-banner img {
    max-width: 100%;
}

/* high-tech-blog end */

/* sectors-we-serve start */
.si-sectors-we-serve-section {
    padding-top: 50px;
    padding-bottom: 30px;
}

.si-sectors-we-serve-section .si-sws-title {
    max-width: 67%;
    margin-bottom: 40px;
}

.si-sectors-we-serve-section .si-sws-title h2 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.si-sectors-we-serve-section .si-sws-item-col {
    display: flex;
}

.si-sectors-we-serve-section .si-sws-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f2f2;
    border-top-width: .25em;
    border-top-style: solid;
    padding: 1.25em;
    border: .063em solid #ccc;
    border-top-width: .25em;
    border-top-color: #a06daf;
    margin-bottom: 30px;
}

.si-sectors-we-serve-section .si-sws-item .si-sws-item-title {
    font-size: 1.5625rem;
    color: #232323;
    font-weight: 500;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}

.si-sectors-we-serve-section .si-sws-item .si-sws-item-title:hover {
    color: #3c708e;
}

/* sectors-we-serve end */

/* capabilities start */
.si-capabilities-section {
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #f2f2f2
}

.si-capabilities-section .si-c-row {
    align-items: center;
}

.si-capabilities-section .si-c-title {
    max-width: 67%;
    margin-bottom: 40px;
}

.si-capabilities-section .si-c-title h2 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.si-capabilities-section .si-c-title-btn-col {
    text-align: right;
}

.si-capabilities-section .si-c-item-col {
    display: flex;
}

.si-capabilities-section .si-c-item {
    border: .063rem solid #ccc;
    background-color: #fff;
    margin-right: .69rem;
    padding: 1.56rem 1.25rem 1.25rem 1.25rem;
    margin-bottom: 30px;
    width: 100%;
}

.si-capabilities-section .si-c-item .si-c-item-title {
    font-size: 1.5625rem;
    margin-bottom: 1.25rem;
    padding-right: 2.75rem;
    color: #232323;
    font-weight: 500;
}

.si-capabilities-section .si-c-item:hover .si-c-item-title {
    color: #3c708e;
}

.si-capabilities-section .si-c-item p {
    color: #232323;
}

.si-capabilities-section .si-c-item .si-c-item-btn {
    width: 4.06rem;
    position: absolute;
    right: .94rem;
    margin-left: .63rem;
    top: 1.63rem;
    color: #232323;
    background-color: #3c708e;
    float: right;
    padding: 5px 10px;
    text-align: center;
}

.si-capabilities-section .si-c-item .si-c-item-btn::after {
    content: "";
    position: absolute;
    border-top: .5rem solid;
    border-right: .69rem solid transparent;
    margin-left: .69rem;
    bottom: -.5rem;
    right: 0;
}

.si-capabilities-section .si-c-item .si-c-item-btn svg {
    height: 20px;
    fill: #fff;
}

/* capabilities end */

/* case-studies start */
.si-case-studies-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.si-case-studies-section .si-cs-row {
    margin-bottom: 15px;
    align-items: center;
}

.si-case-studies-section .si-cs-title h2 {
    font-size: 3rem;
}

.si-case-studies-section .si-cs-title-btn-col {
    text-align: right;
}

.si-case-studies-section .si-cs-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}

.si-case-studies-section .si-cs-item .si-cs-item-img {
    position: relative;
}

.si-case-studies-section .si-cs-item .si-cs-item-img::after {
    content: "";
    position: absolute;
    border-top: 1.25em solid;
    border-left: 1.25em solid transparent;
    margin-left: 0;
    color: #232323;
    bottom: -1.25em;
    left: 0;
}

.si-case-studies-section .si-cs-item .si-cs-item-img img {
    max-width: 100%;
    width: 100%;
    max-height: 435px;
}

.si-case-studies-section .si-cs-item .si-cs-item-content {
    overflow: hidden;
    border: .06em solid #ccc;
    background-color: #fff;
    margin-left: 1.25em;
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: auto;
    margin-bottom: 1.25em;
}

.si-case-studies-section .si-cs-item .si-cs-item-content .si-cs-item-desc {
    flex: auto;
    height: 100%;
}

.si-case-studies-section .si-cs-item .si-cs-item-cat {
    margin-bottom: 1.25rem;
    display: inline-block;
    font-size: .75rem;
    border-bottom: .13rem solid #3c708e;
    padding-bottom: .25rem;
    color: #232323;
    font-weight: 500;
}

.si-case-studies-section .si-cs-item .si-cs-item-title a {
    font-size: 1.5625rem;
    font-weight: 500;
    margin-bottom: .8em;
    color: #232323;
    display: inline-block;
    width: 100%;
}

.si-case-studies-section .si-cs-item .si-c-i-desc {
    margin-bottom: 1.88em;
}

.si-case-studies-section .si-cs-item .si-c-i-desc p {
    text-align: justify;
}

/* case-studies end */

/* high-tech-multimedia start */
.si-high-tech-multimedia-section {
    background-color: #f2f2f2;
    padding-top: 40px;
    padding-bottom: 40px;
}

.si-high-tech-multimedia-section .si-htm-title {
    max-width: 60%;
    margin-bottom: 30px;
}

.si-high-tech-multimedia-section .si-htm-title h2 {
    font-size: 3rem;
}

.si-high-tech-multimedia-section .si-htm-content p {
    margin-bottom: 25px;
}

.si-high-tech-multimedia-section .si-htm-banner img {
    max-width: 100%;
}

/* high-tech-multimedia end */

/* what-we-think start */
.si-what-we-think-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.si-what-we-think-section .si-wwt-row {
    margin-bottom: 15px;
    align-items: center;
}

.si-what-we-think-section .si-wwt-title h2 {
    font-size: 3rem;
}

.si-what-we-think-section .si-wwt-title-btn-col {
    text-align: right;
}

.si-what-we-think-section .si-wwt-item-img img {
    max-width: 100%;
    height: 100%;
}

.si-what-we-think-section .si-wwt-item-row {
    margin-bottom: 25px;
}

.si-what-we-think-section .si-wwt-item-col {
    display: flex;
}

.si-what-we-think-section .si-wwt-item-content .si-wwt-item-cat {
    margin-bottom: .8rem;
    display: inline-block;
    font-size: .75rem;
    border-bottom: .13rem solid #3c708e;
    padding-bottom: .25rem;
    color: #232323;
    font-weight: 500;
}

.si-what-we-think-section .si-wwt-item-content .si-wwt-item-title a {
    font-size: 1.5625rem;
    font-weight: 500;
    margin-bottom: .5em;
    color: #232323;
    display: inline-block;
    width: 100%;
}

.si-what-we-think-section .si-wwt-item-content.si-wwt-item-right:not(:last-child) {
    border-bottom: .06em solid #ccc;
    padding-bottom: 1.25em;
    margin-bottom: 1.25em;
}

.si-what-we-think-section .si-wwt-item-content.si-wwt-item-right .si-wwt-item-title a {
    font-size: 1rem;
}

/* what-we-think end */

/* news start */
.si-news-section {
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #f2f2f2;
}

.si-news-section .si-n-row {
    margin-bottom: 15px;
    align-items: center;
}

.si-news-section .si-n-title h2 {
    font-size: 3rem;
}

.si-news-section .si-n-title-btn-col {
    text-align: right;
}

.si-news-section .si-news-item-col {
    display: flex;
}

.si-news-section .si-news-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f2f2;
    border-top-width: .25em;
    border-top-style: solid;
    padding: 1.25em;
    border: .063em solid #ccc;
    border-top-width: .25em;
    border-top-color: #a06daf;
    margin-bottom: 30px;
}

.si-news-section .si-news-item .si-news-item-title {
    font-size: 1.2625rem;
    color: #232323;
    font-weight: 500;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
}

.si-news-section .si-news-item .si-news-item-title:hover {
    color: #3c708e;
}

/* news end */

/* our-leaders start */
.si-our-leaders-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.si-our-leaders-section .si-ol-title h2 {
    font-size: 3rem;
}

.si-our-leaders-section .si-ol-member {
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

.si-our-leaders-section .si-ol-members-row {
    justify-content: center;
    margin-bottom: 30px;
}

.si-our-leaders-section .si-ol-member .ol-member-img {
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.si-our-leaders-section .si-ol-member .ol-member-img img {
    max-width: 100%;
}

.si-our-leaders-section .si-ol-member .ol-member {
    padding: 1.25rem;
}

.si-our-leaders-section .si-ol-member .ol-member-name {
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 500;
}

.si-our-leaders-section .si-ol-member .ol-member-designation {
    font-size: 1rem;
    margin-bottom: 10px;
}

.si-our-leaders-section .si-ol-member .ol-member-social {
    display: flex;
    align-items: center;
}

.si-our-leaders-section .si-ol-member .ol-member-social a {
    color: #3c708e;
}

.si-our-leaders-section .si-ol-member .ol-member-social a .fa {
    padding-right: 8px;
}

.si-our-leaders-section .si-ol-member .ol-member-social a:hover {
    text-decoration: underline !important;
}

/* our-leaders end */


/* subscribe start */
.si-subscribe-section {
    position: relative;
    display: flex;
    margin-bottom: -1.38em;
    margin-top: 30px;
}

.si-subscribe-section .block-left-background {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 40%;
    left: 0;
    background-color: #a06daf;
}

.si-subscribe-section .block-right-background {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 40%;
    top: 0;
    right: 0;
    margin-top: -1.34em;
    background-color: #a06daf;
}

.si-subscribe-section .ribbon-row {
    max-width: 75rem;
    padding: 0 0;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

.si-subscribe-section .ribbon-row .container-left {
    width: 60%;
    padding: 1.06em 1.56em 1.56em .94em;
    z-index: 1;
    float: left;
    word-wrap: break-word;
    word-break: break-word;
    position: relative;
    background-color: #a06daf;
}

.si-subscribe-section .ribbon-row .container-left .block-extension {
    width: 3.44em;
    right: -3.34em;
    top: 0;
    position: absolute;
    bottom: 0;
    background-color: #a06daf;
}

.si-subscribe-section .block-content .container-title {
    width: 67%;
    padding-right: .94em;
    margin-top: .625em;
}

.si-subscribe-section .block-content .container-title .cta-text {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-size: 1.5625rem;
    line-height: 1.2;
    font-weight: 500;
}

.si-subscribe-section .container-left .block-content .container-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    margin-top: 0;
    width: 33%;
    padding-left: .94em;
}

.si-subscribe-section .block-content .container-button a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    height: 4.88em;
    z-index: 10;
    display: inline-block;
    padding-top: 0;
}

.si-subscribe-section .block-content .container-button .btn-subscribe {
    margin: .938rem 0;
    min-width: 11.08em;
    color: #fff;
    background: linear-gradient(95.12deg, #E2C53F 0%, #6CA0BC 83.42%);
    border: none;
    backface-visibility: hidden;
    text-transform: uppercase;
    display: inline-block;
    padding: .938rem .938rem;
    font-size: .875rem;
    line-height: 1rem;
    border-radius: 0;
    text-align: center;
    font-weight: 500;
}

.si-subscribe-section .block-content .container-button .behind {
    margin-right: .35em;
    margin-left: .31em;
    height: 2.83em;
    position: relative;
    z-index: -1;
    color: #a7a7a7;
    background: #a7a7a7;
    margin-top: -3.0625rem;
    padding: .938em .938em;
    font-size: .875em;
    line-height: 1em;
    text-transform: uppercase;
    opacity: .5;
    min-width: 11.08em;
}

.si-subscribe-section .ribbon-row .container-right {
    background-image: linear-gradient(to right, #460073 0%, #a06daf 100%);
    background-repeat: repeat-x;
    float: left;
    width: 40%;
    margin-top: -1.34em;
    padding: 2.44em 0 .19em 4.63em;
    position: relative;
    background-color: #a06daf;
    margin-bottom: 22px;
}

.si-subscribe-section .ribbon-row .container-right .triangle {
    height: 1.88em;
    width: 3.34em;
    top: .69em;
    transform: skewY(22deg);
    left: -.06em;
    position: absolute;
    background-repeat: repeat-x;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(90deg, #3c708e 30%, rgb(229, 205, 96));
    background-image: -o-linear-gradient(90deg, #3c708e 30%, rgb(229, 205, 96));
    background-image: linear-gradient(90deg, #3c708e 30%, rgb(229, 205, 96));
}

.si-subscribe-section .ribbon-row .container-right .block-extension {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #a06daf;
}

/* subscribe end */

/* Organize start */
.si-organize-section {
    position: relative;
}
.si-organize-section .si-o-bg-main {
    max-width: 100%;
    width: 100%;
}
.si-organize-section .si-o-bg-top {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    max-height: 200px;
}

.si-organize-section .si-o-bg-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
    max-height: 230px;
}

.si-organize-section .si-o-title-section {
    position: absolute;
    top: 0;
    width: 100%;
}

.si-organize-section .si-o-title-content {
    background-color: #A06DAF;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}
.si-organize-section .si-o-title-content:after {
    content: "";
    background: rgba(160, 109, 175, 0.5);
    height: 20px;
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: -20px;
}
.si-organize-section .si-o-title-content h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.si-organize-section .si-o-title-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.si-organize-section .si-o-title-content .si-link {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
    margin-bottom: 0;
}

.si-organize-section .si-o-title-content .si-link::before {
    background-color: #fff;
}

.si-organize-section .si-o-title-content .si-link svg {
    height: 18px;
    fill: #fff;
    margin-left: 5px;
}

.si-organize-section .si-o-img img {
    max-width: 100%;
}

.si-organize-section .si-o-content-section {
    position: absolute;
    top: 60px;
    width: 100%;
}

.si-organize-section .si-o-content-section .si-o-c-items {
    background-color: #fff;
    box-shadow: 0 .13rem .25rem 0 #ccc;
    border-top-width: .25rem;
    border-top-style: solid;
    border-top-color: #E5CC5C;
    position: absolute;
    padding-bottom: 30px;
}

.si-organize-section .si-o-content-section .si-o-c-item {
    margin: 0 30px;
    padding: 30px 0;
    position: relative;
}
.si-organize-section .si-o-content-section .si-o-c-item:before {
    content: "";
    background-color: #33657E;
    width: 4px;
    height: 20px;
    position: absolute;
    left: -30px;
    top: 35px;
}
.si-organize-section .si-o-content-section .si-o-c-line {
    margin: 0 auto;
    width: calc(100% - 60px);
    height: 10px;
    background-color: transparent;
    border-width: 2px 0;
    border-style: solid;
    border-color: #E6E6E6;
}

.si-organize-section .si-o-content-section .si-o-c-item .si-o-c-item-title {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    text-transform: capitalize;
    color: #33657E;
    width: 100%;
    display: inline-block;
    margin-bottom: 15px;
}

.si-organize-section .si-o-content-section .si-o-c-item p {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #232323;
    margin-bottom: 0;
}

/* Organize end */

/* get-involved start */
.si-get-involved-section {
    padding-top: 90px;
    padding-bottom: 90px;
}

.si-get-involved-section .si-gi-title-content {
    max-width: 45%;
    margin: 0 auto 70px;
    text-align: center;
}

.si-get-involved-section .si-gi-title-content h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #33657E;
    margin-bottom: 15px;
}

.si-get-involved-section .si-gi-title-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #757575;
}

.si-get-involved-section .si-gi-item .si-gi-item-img img {
    max-width: 100%;
    width: 100%;
}

.si-get-involved-section .si-gi-item .si-gi-item-title {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #33657E;
    margin-bottom: 8px;
}

.si-get-involved-section .si-gi-item .si-gi-item-desc {
    margin-bottom: 25px;
}

.si-get-involved-section .si-gi-item .si-gi-desc p {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #757575;
}

.si-get-involved-section .si-gi-item .si-gi-item-btn {
    display: flex;
    align-items: center;
}

.si-get-involved-section .si-gi-item .si-gi-item-btn a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    background: linear-gradient(95.12deg, #E2C53F 0%, #6CA0BC 83.42%);
    border-radius: 6px;
    padding: 12px 15px 12px 25px;
    display: flex;
    align-items: center;
}

.si-get-involved-section .si-gi-item .si-gi-item-btn a .si-gi-item-btn-icon {
    border: 2px solid #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-left: 15px;
}

.si-get-involved-section .si-gi-item .si-gi-item-btn a svg {
    fill: #fff;
    height: 8px;
}

/* get-involved end */

/* announcement slider start */
.si-announcement-slider-section {
    padding-top: 60px;
    padding-bottom: 100px;
}

.si-announcement-slider-section .si-a-row {
    background-color: #f2f2f2;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
}

.si-announcement-slider-section .si-a-banner {
    text-align: center;
    padding-right: 50px;
}
.si-announcement-slider-section .si-a-banner img {
    max-width: 100%;
    width: 100%;
}

.si-announcement-slider-section .si-a-content {
    border-image: linear-gradient(to bottom, rgb(229, 205, 96) 0%, rgb(108, 160, 188) 100%) 1 100%;
    border-width: 0 0 0 .25em;
    border-left-style: solid;
    padding-left: 30px;
}

.si-announcement-slider-section .si-a-content .si-a-c-subtitle {
    margin-top: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #A06DAF;
    margin-bottom: 10px;
}
.si-announcement-slider-section .si-a-content h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    text-transform: capitalize;
    color: #33657E;
    margin-bottom: 18px;
}

.si-announcement-slider-section .si-a-content span {
    display: block;
    padding-left: 1.25em;
    padding-bottom: .63em;
}

.si-announcement-slider-section .si-link svg {
    height: 16px;
    fill: #3c708e;
    margin-left: 5px;
}
.si-announcement-slider-section .carousel-control-next, 
.si-announcement-slider-section .carousel-control-prev {
    width: 10%;
    opacity: 1;
}
.si-announcement-slider-section .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%2333657E%27%3e%3cpath d=%27M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z%27/%3e%3c/svg%3e");
}
.si-announcement-slider-section .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%2333657E%27%3e%3cpath d=%27M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
}
/* announcement slider end */

/* client-conversion start */
.si-client-conversion-section {
    padding-top: 70px;
    padding-bottom: 70px;
}
.si-client-conversion-section .si-cc-row {
    align-items: center;
}
.si-client-conversion-section .si-cc-image img {
    max-width: 100%;
    width: 100%;
}
.si-client-conversion-section .si-cc-content h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    text-transform: capitalize;
    color: #33657E;
    margin-bottom: 35px;
}
.si-client-conversion-section .si-cc-content .si-learn-link {
    background: linear-gradient(93.61deg, #E5CD60 0%, #6CA0BC 89.25%);
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF;
    padding: 10px 16px;
    text-transform: uppercase;
}
/* client-conversion end */