/* Banner section start */
.cxo-banner-section {
    margin-top: 80px;
    padding-top: 100px;
    padding-bottom: 80px;
    position: relative;
    background: linear-gradient(103.75deg, rgba(160, 109, 175, .1) -0.43%, rgba(108, 160, 188, .1) 73.47%);
}
.cxo-banner-section .cxo-banner-top {
    background-color: #fff;
    height: 250px;
    width: 25%;
    position: absolute;
    top: 0;
    right: 0;
}
.cxo-banner-section .cxo-banner-middle {
    background: linear-gradient(90deg, #A06DAF 34.47%, #6CA0BC 110.64%);
    height: 100%;
    width: 465px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.cxo-banner-section .cxo-banner-bottom {
    background: linear-gradient(90deg, #A06DAF 34.47%, #6CA0BC 110.64%);
    height: 150px;
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}
.cxo-banner-section .banner-path {
    position: absolute;
    bottom: 50px;
    left: 38%;
    z-index: -2;
}
.cxo-banner-section .banner-setting-big {
    position: absolute;
    left: 44%;
    bottom: 60px;
    z-index: -1;
    max-width: 100%;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    animation-timing-function: linear;
    animation-delay: 1500ms;
    animation-name: BannerSettingBig;
}
@keyframes BannerSettingBig {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.cxo-banner-section .banner-setting-small {
    position: absolute;
    left: 42%;
    bottom: 20px;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    animation-timing-function: linear;
    animation-delay: 1500ms;
    animation-name: BannerSettingSmall;
}
@keyframes BannerSettingSmall {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}
.cxo-banner-section .cxo-banner-row {
    align-items: center;
}
.cxo-banner-section .cxo-banner-content h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    text-transform: capitalize;
    color: #33657E;
    margin-bottom: 15px;
}
.cxo-banner-section .cxo-banner-content .cxo-banner-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #232323;
    margin-bottom: 20px;
}
.cxo-banner-section .cxo-banner-content .cxo-banner-desc {
    max-width: 80%;
}
.cxo-banner-section .cxo-banner-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #232323;
    margin-bottom: 10px;
}
.cxo-banner-section .cxo-banner-content .cxo-banner-btn {
    margin-top: 35px;
}
.cxo-banner-section .cxo-banner-content .cxo-banner-btn a {
    background: linear-gradient(95.12deg, #E2C53F 0%, #6CA0BC 83.42%);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: none;
    color: #FFFFFF;
    padding: 13px 23px;
    display: inline-block;
    text-decoration: none;
}
.cxo-banner-section .cxo-banner {
    position: relative;
}
.cxo-banner-section .cxo-banner-video {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.cxo-banner-section .cxo-banner-video video {
    height: 100%;
    max-width: 90%;
    object-fit: cover;
}

.cxo-banner-section .cxo-social-section {
    position: absolute;
    left: 30px;
    bottom: 50%;
    transform: translate(0, 50%);
}
.cxo-banner-section .cxo-social-section .cxo-social-row {
    display: flex;
    flex-direction: column;
}
.cxo-banner-section .cxo-social-section a {
    color: #33657e;
    margin-bottom: 10px;
}
.cxo-banner-section .cxo-social-section a i {
    font-size: 18px;
}
.cxo-banner-section .cxo-social-section a:hover {
    color: #862995;
}
/* Banner section end */


/* lifecycle start */
.cxo-lifecycle-section {
    padding-top: 75px;
    padding-bottom: 75px;
}
.cxo-lifecycle-section .cxo-lifecycle-row {
    align-items: center;
}
.cxo-lifecycle-section .cxo-lc-content h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    text-transform: capitalize;
    color: #3C708E;
    margin-bottom: 15px;
}
.cxo-lifecycle-section .cxo-lc-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #757575;
}
.cxo-lifecycle-section .cxo-lc-boxes {
    max-width: 80%;
    margin: 0 auto;
    position: relative;
}
.cxo-lifecycle-section .cxo-lc-boxes .lifecycle-favicon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    max-width: 100%;
    z-index: 5;
}
.cxo-lifecycle-section  .cxo-lc-boxes .cxo-lc-box-col {
    display: flex;
}
.cxo-lifecycle-section .cxo-lc-box {
    padding: 10px 30px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cxo-lifecycle-section .cxo-lc-box .lc-box-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -55%);
}
.cxo-lifecycle-section .cxo-lc-box .lc-box-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #33657E;
    margin-bottom: 10px;
}
.cxo-lifecycle-section .cxo-lc-box.cxo-lc-box-2 .lc-box-title {
    color: #E5CC5C;
}
.cxo-lifecycle-section .cxo-lc-box.cxo-lc-box-3 .lc-box-title {
    color: #A06DAF;
}
.cxo-lifecycle-section .cxo-lc-box.cxo-lc-box-4 .lc-box-title {
    color: #6CA0BC;
}
.cxo-lifecycle-section .cxo-lc-box .lc-box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cxo-lifecycle-section .cxo-lc-box .lc-box-icon img {
    max-width: 100%;
}
/* lifecycle end */


/* expect start */
.cxo-expect-section {
    background-color: #F8F8F8;
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url('./img/expect-banner-bg.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}
.cxo-expect-section .cxo-expect-title {
    margin-bottom: 40px;
}
.cxo-expect-section .cxo-expect-title h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    text-transform: capitalize;
    color: #3C708E;
    margin-bottom: 10px;
}
.cxo-expect-section .cxo-expect-title p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #757575;
    margin-bottom: 10px;
}
.cxo-expect-section .cxo-expect-content-row {
    align-items: center;
}
.cxo-expect-section .cxo-expect-banner {
    text-align: center;
    position: relative;
}
.cxo-expect-section .cxo-expect-banner .cxo-expect-bg {
    background: linear-gradient(107.68deg, #6CA0BC 9.62%, #A06DAF 85.16%);
    border-radius: 20px;
    height: 75%;
    width: 80%;
    position: absolute;
    bottom: 0;
}
.cxo-expect-section .cxo-expect-banner img {
    max-width: 100%;
    position: relative;
}
.cxo-expect-section .cxo-expect-banner .cxo-eb-title {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: left;
    left: 15%;
}
.cxo-expect-section .cxo-expect-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: justify;
    color: #757575;
    margin-bottom: 10px;
}
.cxo-expect-section .cxo-expect-btn {
    background: linear-gradient(95.12deg, #EED979 0%, #6CA0BC 83.42%);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 35px;
    text-decoration: none;
}
/* expect end */


/* leverage model start */
.cxo-leverage-model-section {
    padding-top: 70px;
    padding-bottom: 40px;
}
.cxo-leverage-model-section .cxo-lm-title-content {
    margin-bottom: 40px;
}
.cxo-leverage-model-section .cxo-lm-title-content h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    text-transform: capitalize;
    color: #3C708E;
    margin-bottom: 10px;
}
.cxo-leverage-model-section .cxo-lm-title-content .cxo-lm-title-desc {
    max-width: 65%;
}
.cxo-leverage-model-section .cxo-lm-title-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: justify;
    color: #757575;
}
.cxo-leverage-model-section .cxo-lm-boxes-row {
    align-items: center;
}
.cxo-leverage-model-section .cxo-lm-boxes-row .cxo-lm-box-col {
    display: flex;
}
.cxo-leverage-model-section .lm-box-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 20px;
    background: #FFFFFF;
    border-radius: 70px 10px;
    cursor: pointer;
}
.cxo-leverage-model-section .lm-box-item:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}
.cxo-leverage-model-section .lm-box-item img {
    max-height: 40px;
    margin-right: 20px;
}
.cxo-leverage-model-section .lm-box-item .lm-box-item-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #3C708E;
    line-height: 1;
}
/* leverage model end */


/* faqs start */
.cxo-faqs-section {
    padding-top: 30px;
    padding-bottom: 100px;
}
.cxo-faqs-section .cxo-faqs-title-row {
    background: rgba(108, 160, 188, .1);
    border-radius: 10px 10px 5px 5px;
    border-bottom: 5px solid #6CA0BC;
    padding: 35px 40px;
}
.cxo-faqs-section .cxo-ft-content .cxo-ft-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-transform: none;
    color: #3C708E;
    margin-bottom: 15px;
}
.cxo-faqs-section .cxo-ft-content h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    text-transform: capitalize;
    color: #232323;
    margin-bottom: 20px;
}
.cxo-faqs-section .cxo-ft-content .cxo-ft-btn {
    background: #FFFFFF;
    border: 2px solid #6CA0BC;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #6CA0BC;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    max-width: 130px;
    margin-bottom: -58px;
}
.cxo-faqs-section .cxo-ft-content .cxo-ft-btn .fa {
    font-size: 24px;
    font-weight: 500;
    color: #6B9EB9;
}
.cxo-faqs-section .cxo-faqs-list-row.hide {
    display: none;
}
.cxo-faqs-section .cxo-faqs-list-row {
    margin-top: 40px;
    background: rgba(108, 160, 188, .3);
    border-radius: 10px;
    border: 1px solid #6CA0BC;
    padding-top: 20px;
    padding-bottom: 20px;
}
.cxo-faqs-section .cxo-faqs-list .accordion-item {
    margin-bottom: 20px;
}
.cxo-faqs-section .cxo-faqs-list .accordion-button {
    color: #33657e;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    box-shadow: unset;
    margin-bottom: 0;
}
.cxo-faqs-section .cxo-faqs-list .accordion-button:not(.collapsed) {
    border-bottom: 1px solid #d0d8dc;
}
.cxo-faqs-section .cxo-faqs-list .accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2333657e'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.cxo-faqs-section .cxo-faqs-list .accordion-body {
    background-color: #e4eaed;
    padding: 20px;
}
.cxo-faqs-section .cxo-faqs-list .accordion-body p:last-child {
    margin-bottom: 0;
}
/* faqs end */



/* responsive */
@media only screen and (max-width: 1300.99px) {
    .cxo-banner-section .cxo-banner-middle {
        width: 400px;
    }
    .cxo-expect-section .cxo-expect-banner {
        text-align: right;
    }
    .cxo-leverage-model-section .cxo-lm-title-content .cxo-lm-title-desc {
        max-width: 75%;
    }
}


@media only screen and (max-width: 1280.99px) {
    .cxo-banner-section .cxo-banner-bottom {
        height: 180px;
    }
    .cxo-leverage-model-section .cxo-lm-title-content .cxo-lm-title-desc {
        max-width: 85%;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1199.99px) {
    .cxo-lifecycle-section .cxo-lc-boxes {
        max-width: 100%;
    }
    .cxo-lifecycle-section .cxo-lc-content {
        max-width: 95%;
    }
    .cxo-expect-section .cxo-expect-banner img {
        max-width: 95%;
    }
    .cxo-leverage-model-section .lm-box-item img {
        margin-right: 10px;
    }
    .cxo-leverage-model-section .lm-box-item .lm-box-item-title {
        font-size: 16px;
    }
    .cxo-banner-section .cxo-banner-video video {
        max-width: 100%;
    }
}


@media only screen and (max-width: 1080.99px) {
    .cxo-banner-section .cxo-banner-middle {
        width: 350px;
    }
    .cxo-banner-section .cxo-banner-bottom {
        height: 200px;
    }
}


@media only screen and (max-width: 1000.99px) {
    .cxo-banner-section .cxo-banner-content .cxo-banner-desc {
        max-width: 90%;
    }
}


@media only screen and (max-width: 990.99px) {
    .cxo-banner-section {
        padding-top: 50px;
    }
    .cxo-banner-section .cxo-banner-content {
        margin-bottom: 50px;
    }
    .cxo-banner-section .cxo-banner-content .cxo-banner-desc {
        max-width: 100%;
    }
    .cxo-banner-section .cxo-banner-video video {
        max-width: 80%;
    }
    .cxo-banner-section .banner-path {
        left: 2%;
    }
    .cxo-banner-section .banner-setting-big {
        left: 10%;
    }
    .cxo-banner-section .banner-setting-small {
        left: 5%;
    }
    .cxo-banner-section .cxo-banner-bottom {
        width: 80%;
    }
    .cxo-banner-section .cxo-banner-middle {
        left: 20%;
        height: 58%;
        top: initial;
        bottom: 0;
        width: 40%;
    }
    .cxo-banner-section .cxo-banner-top {
        display: none;
    }
    .cxo-banner-section .cxo-social-section {
        bottom: 40%;
    }
    .cxo-lifecycle-section .cxo-lc-box.cxo-lc-box-1 {
        left: 60px;
    }
    .cxo-lifecycle-section .cxo-lc-box.cxo-lc-box-2 {
        right: 60px;
    }
    .cxo-lifecycle-section .cxo-lc-box.cxo-lc-box-3 {
        left: 60px;
    }
    .cxo-lifecycle-section .cxo-lc-box.cxo-lc-box-4 {
        right: 60px;
    }
    .cxo-lifecycle-section .cxo-lc-box.cxo-lc-box-3 .lc-box-icon {
        margin-left: 20px;
    }
    .cxo-lifecycle-section .cxo-lc-box.cxo-lc-box-3 .lc-box-icon img:first-child {
        margin-right: -25px;
    }
    .cxo-lifecycle-section .cxo-lc-content {
        margin-bottom: 30px;
    }
    .cxo-expect-section .cxo-expect-banner {
        text-align: center;
        margin-bottom: 30px;
    }
    .cxo-expect-section .cxo-expect-banner .cxo-expect-bg {
        width: 50%;
        left: 20%;
    }
    .cxo-expect-section .cxo-expect-banner .cxo-eb-title {
        left: 25%;
    }
    .cxo-leverage-model-section .lm-box-item {
        margin-bottom: 15px;
    }
    .cxo-faqs-section .cxo-faqs-title-row {
        margin-left: 5px;
        margin-right: 5px;
    }
    .cxo-faqs-section .cxo-faqs-list-row {
        margin-left: 5px;
        margin-right: 5px;
    }
}


@media only screen and (max-width: 900.99px) {
    .cxo-banner-section .cxo-banner-middle {
        height: 55%;
    }
    .cxo-lifecycle-section .cxo-lc-box.cxo-lc-box-1 {
        left: 30px;
    }
    .cxo-lifecycle-section .cxo-lc-box.cxo-lc-box-2 {
        right: 30px;
    }
    .cxo-lifecycle-section .cxo-lc-box.cxo-lc-box-3 {
        left: 30px;
    }
    .cxo-lifecycle-section .cxo-lc-box.cxo-lc-box-4 {
        right: 30px;
    }
    .cxo-expect-section .cxo-expect-banner .cxo-expect-bg {
        left: 15%;
        width: 55%;
    }
    .cxo-expect-section {
        background-size: 100%;
    }
}


@media only screen and (max-width: 825.99px) {
    .cxo-banner-section .cxo-banner-middle {
        height: 52%;
    }
    .cxo-banner-section .cxo-social-section {
        bottom: 30%;
    }
    .cxo-leverage-model-section .cxo-lm-title-content .cxo-lm-title-desc {
        max-width: 100%;
    }
}


@media only screen and (max-width: 768.99px) {
    .cxo-expect-section .cxo-expect-banner .cxo-expect-bg {
        left: 10%;
        width: 65%;
    }
    .cxo-expect-section .cxo-expect-banner .cxo-eb-title {
        left: 16%;
    }
}


@media only screen and (max-width: 766.99px) {
    .cxo-lifecycle-section .cxo-lc-boxes {
        max-width: 100%;
    }
}


@media only screen and (max-width: 720.99px) {
    .cxo-banner-section .cxo-banner-middle {
        height: 50%;
    }
    .cxo-banner-section .cxo-banner-video {
        margin-top: 30px;
    }
    .cxo-expect-section .cxo-expect-banner .cxo-expect-bg {
        left: 5%;
        width: 70%;
    }
}


@media only screen and (max-width: 655.99px) {
    .cxo-banner-section .cxo-banner-middle {
        height: 47%;
    }
    .cxo-expect-section .cxo-expect-banner .cxo-expect-bg {
        left: 0;
    }
    .cxo-expect-section .cxo-expect-banner .cxo-eb-title {
        left: 10%;
    }
}


@media only screen and (max-width: 600.99px) {
    .cxo-banner-section .cxo-social-section {
        left: 20px;
    }
    .cxo-faqs-section .cxo-faqs-title-row {
        padding-left: 10px;
        padding-right: 10px;
    }
    .cxo-expect-section .cxo-expect-banner {
        text-align: right;
    }
    .cxo-expect-section .cxo-expect-banner .cxo-expect-bg {
        width: 90%;
    }
}


@media only screen and (max-width: 575.99px) {
    .cxo-banner-section .cxo-banner-middle {
        height: 43%;
    }
    .cxo-lifecycle-section .cxo-lc-box.cxo-lc-box-1 {
        left: 0;
    }
    .cxo-lifecycle-section .cxo-lc-box.cxo-lc-box-2 {
        right: 0;
    }
    .cxo-lifecycle-section .cxo-lc-box.cxo-lc-box-3 {
        left: 0;
    }
    .cxo-lifecycle-section .cxo-lc-box.cxo-lc-box-4 {
        right: 0;
    }
    .cxo-lifecycle-section .cxo-lc-box .lifecycle-bg {
        width: 70%;
    }
    .cxo-lifecycle-section .cxo-lc-boxes .lifecycle-favicon {
        height: 250px;
        transform: translate(-50%, -55%);
    }
    .cxo-lifecycle-section .cxo-lc-box .lc-box-title {
        margin-bottom: 30px;
    }
}


@media only screen and (max-width: 500.99px) {
    .cxo-banner-section .cxo-social-section {
        left: 30%;
        bottom: 40px;
    }
    .cxo-banner-section .cxo-social-section .cxo-social-row {
        flex-direction: row;
    }
    .cxo-banner-section .cxo-social-section a {
        margin-bottom: 0;
        margin-right: 15px;
        color: #fff;
    }
    .cxo-banner-section .cxo-banner-middle {
        height: 38%;
    }
}


@media only screen and (max-width: 449.99px) {
    .cxo-lifecycle-section .cxo-lc-boxes .lifecycle-favicon {
        position: relative;
        height: 200px;
        transform: translate(-50%, 0%);
    }
    .cxo-faqs-section .cxo-faqs-list .accordion-body {
        padding-left: 10px;
        padding-right: 10px;
    }
    .cxo-faqs-section .cxo-faqs-list .accordion-button {
        padding-left: 10px;
        padding-right: 10px;
    }
}


@media only screen and (max-width: 414.99px) {
    .cxo-banner-section .cxo-banner-middle {
        height: 33%;
    }
    .cxo-lifecycle-section .cxo-lc-box .lifecycle-bg {
        width: 80%;
    }
    .cxo-lifecycle-section .cxo-lc-box .lc-box-title {
        margin-bottom: 20px;
    }
    .cxo-banner-section .cxo-banner-content h1 {
        font-size: 24px;
    }
    .cxo-lifecycle-section .cxo-lc-content h2 {
        font-size: 24px;
    }
    .cxo-leverage-model-section .cxo-lm-title-content h2 {
        font-size: 24px;
    }
    .cxo-leverage-model-section .lm-box-item {
        justify-content: start;
    }
    .cxo-leverage-model-section .lm-box-item .lm-box-item-title {
        text-align: left;
    }
}


@media only screen and (max-width: 384.99px) {
    .cxo-banner-section .cxo-banner-bottom {
        height: 120px;
    }
}


@media only screen and (max-width: 360.99px) {
    .cxo-banner-section .cxo-banner-middle {
        height: 30%;
    }
    .cxo-lifecycle-section .cxo-lc-box .lifecycle-bg {
        width: 100%;
    }
    .cxo-leverage-model-section .cxo-lm-title-content h2 {
        font-size: 22px;
    }
    .cxo-banner-section .cxo-banner-content h1 {
        font-size: 22px;
    }
    .cxo-faqs-section .cxo-faqs-list .accordion-button {
        font-size: 18px;
    }
    .cxo-faqs-section .cxo-ft-content h2 {
        font-size: 20px;
    }
}


@media only screen and (max-width: 320.99px) {
    .cxo-banner-section .cxo-banner-middle {
        height: 27%;
    }
    .cxo-lifecycle-section .cxo-lc-box .lifecycle-bg {
        width: 120%;
    }
    .cxo-leverage-model-section .lm-box-item .lm-box-item-title {
        font-size: 16px;
    }
}