.industrial-resources-main {
  margin-top: 80px;
  padding-top: 40px;
  padding-bottom: 80px;
}

.industrial-resources-main .industrial-resources-widget {
  border: 1px solid #f2f2f2;
  margin-bottom: 20px;
}
.industrial-resources-main .industrial-resources-widget .widget_heading {
  font-size: 25px;
  border-bottom: 3px solid #a16bb8;
  background: #fff;
  padding: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 25px;
}
.industrial-resources-main .industrial-resources-widget .widget_content {
  padding-left: 20px;
  padding-right: 20px;
}
.industrial-resources-main .industrial-resources-widget .widget_content ul { 
  padding-left: 0;
  list-style: none;
}
.industrial-resources-main .industrial-resources-widget .widget_content ul li {
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 15px;
}
.industrial-resources-main .industrial-resources-widget .widget_content ul li:before {
  left: 10px;
  content: "";
  margin-left: 0;
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  position: relative;
  float: left;
  background: #a16bb8;
  top: 8px;
}
.industrial-resources-main .industrial-resources-widget .widget_content ul li a {
  margin-left: 30px;
  font-size: 16px;
  font-weight: 400;
  color: #31647c;
  margin-top: 0px;
  padding-left: 10px;
  display: block;
  position: relative;
  letter-spacing: 1px;
  font-family: "Roboto",sans-serif;
}
.industrial-resources-main .industrial-resources-widget .widget_content ul li a:hover {
  color: #a16bb8;
}