@media only screen and (max-width: 1401px) {
    .gotomarketing_all_cards_parent .gotomarketing_line_vertical {
        left: 122px;
    }
}


@media only screen and (max-width: 1301px) {
    .gotomarketing_all_cards_parent .gotomarketing_line_vertical {
        left: 106px;
    }
}


@media only screen and (max-width: 1171px) {
    .GTMComp3 {
        max-width: 100%;
    }
    .gotomarketing_cards_container {
        max-width: 100%;
    }
    .gotomarketing_all_cards_parent .gotomarketing_line_vertical {
        left: 110px;
    }
}

@media only screen and (max-width: 1112px) {
    .gotomarketing_all_cards_parent .gotomarketing_line_vertical {
        left: 104px;
        top: 130px;
    }
}

@media only screen and (max-width: 1080px) {
    .gotomarketing_cards_container {
        padding-right: var(--bs-gutter-x,.75rem);
    }
    .gotomarketing_all_cards_parent .gotomarketing_line_vertical {
        left: 102px;
        top: 140px;
    }
    .gotomarketing_all_cards_parent .gotomarketing_image_side_1_card1, 
    .gotomarketing_all_cards_parent .gotomarketing_image_side_1_card2, 
    .gotomarketing_all_cards_parent .gotomarketing_image_side_1_card3, 
    .gotomarketing_all_cards_parent .gotomarketing_image_side_1_card4, 
    .gotomarketing_all_cards_parent .gotomarketing_image_side_1_card5, 
    .gotomarketing_all_cards_parent .gotomarketing_image_side_2_card1, 
    .gotomarketing_all_cards_parent .gotomarketing_image_side_2_card2, 
    .gotomarketing_all_cards_parent .gotomarketing_image_side_2_card3, 
    .gotomarketing_all_cards_parent .gotomarketing_image_side_2_card4, 
    .gotomarketing_all_cards_parent .gotomarketing_image_side_2_card5, 
    .gotomarketing_all_cards_parent .gotomarketing_image_side_3_card1, 
    .gotomarketing_all_cards_parent .gotomarketing_image_side_3_card2,
    .gotomarketing_all_cards_parent .gotomarketing_image_side_3_card3, 
    .gotomarketing_all_cards_parent .gotomarketing_image_side_3_card4, 
    .gotomarketing_all_cards_parent .gotomarketing_image_side_3_card5, 
    .gotomarketing_all_cards_parent .gotomarketing_image_side_4_card1, 
    .gotomarketing_all_cards_parent .gotomarketing_image_side_4_card2, 
    .gotomarketing_all_cards_parent .gotomarketing_image_side_4_card3, 
    .gotomarketing_all_cards_parent .gotomarketing_image_side_4_card4, 
    .gotomarketing_all_cards_parent .gotomarketing_image_side_5_card1, 
    .gotomarketing_all_cards_parent .gotomarketing_image_side_5_card2, 
    .gotomarketing_all_cards_parent .gotomarketing_image_side_5_card3 {
        width: 90%;
    }
}

@media only screen and (max-width: 1024px) {
    .gotomarketing_all_cards_parent .gotomarketing_line_vertical {
        left: 96px;
    }
}

@media only screen and (max-width: 1000px) {
    .gotomarketing_all_cards_parent .gotomarketing_line_vertical {
        left: 94px;
    }
}

@media only screen and (max-width: 992px) {
    .GTMComp3 .text {
        font-size: 16px !important;
        line-height: 26px !important;
    }
    /*.GTMComp3 .animate{
        font-size: 16px !important;
        line-height: 24px !important;
    }*/
    .gotomarketing_all_cards_parent .gotomarketing_line_vertical {
        left: 50%;
        top: 50px;
        height: 100%;
    }
    .gotomarketing_all_cards_parent .gotomarketing_line_vertical img {
        height: 100%;
        width: 2px;
    }
}

@media only screen and (max-width: 768px) {
    /*.GTMComp3 .text {
        font-size: 10px!important;
        line-height: 15px!important;
    }*/
    .GTMComp3 .animate{
        font-size: 14px!important;
        line-height: 20px!important;
    }
}

.GTMComp3 .text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center!important;
    color: #757575;
}

.GTMComp3 .animate{
    font-size: 32px!important;
    line-height: 42px!important;
}

.gotomarketing-card{
    background: red;
}

.gotomarketing-card.col-lg-1{
    width: 10%;
}


@media only screen and (max-width: 992px) {
    /*.animate{
        font-size: 16px!important;
    }
    .animate2{
        font-size: 16px!important;
    }

    .text{
        font-size: 12px!important;
    }*/
}


@media only screen and (max-width: 767px) {
    .gotomarketing_cards_container {
        padding-left: var(--bs-gutter-x,.75rem);
    }
    .gotomarketing_cards_container .gotomarketing_all_cards_parent {
        display: flex;
        flex-direction: column;
        padding-left: 0 !important;
    }
    .gotomarketing_all_cards_parent .gotomarketing_cards_text_side_1, 
    .gotomarketing_all_cards_parent .gotomarketing_cards_text_side_2, 
    .gotomarketing_all_cards_parent .gotomarketing_cards_text_side_3, 
    .gotomarketing_all_cards_parent .gotomarketing_cards_text_side_4, 
    .gotomarketing_all_cards_parent .gotomarketing_cards_text_side_5 {
        margin-right: 0 !important;
        width: 90%;
    }
    .gotomarketing_all_cards_parent .gotomarketing_line_vertical {
        left: 49.8%;
    }
}


@media only screen and (max-width: 576px) {
    /*.animate{
        font-size: 14px!important;
    }*/
    /* .animate2{
        font-size: 14px!important;
    } */
    
    /*.text{
        font-size: 10px!important;
    }*/
}

@media only screen and (max-width: 450px) {
    .GTMComp3 .animate {
        font-size: 24px !important;
        line-height: 32px !important;
    }
}

@media only screen and (max-width: 360px) {
    .GTMComp3 .animate {
        font-size: 20px !important;
        line-height: 28px !important;
    }
}