.faqs-container {
    padding-top: 40px;
    padding-bottom: 80px;
}
.faqs-container .faq-heading {
    color: #3c708e;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.faqs-container .faqs-list .accordion-item {
    border-bottom: 1px solid #E3E9ED;
}
.faqs-container .faqs-list .accordion-button {
    color: #33657e;
    font-size: 22px;
    font-style: normal;
    box-shadow: unset;
    margin-bottom: 0;
    background-color: transparent !important;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.faqs-container .faqs-list .accordion-button img {
    max-width: 25px;
}
.faqs-container .faqs-list .accordion-button:not(.collapsed) {
    background-color: #F8F8F8 !important;
}
.faqs-container .faqs-list .accordion-button:after {
    /* background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2333657e'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important; */
    background-image: unset;
    display: none;
}
.faqs-container .faqs-list .accordion-body {
    background-color: #F8F8F8;
    padding: 0 20px 40px;
}
.faqs-container .faqs-list .accordion-body h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #A06DAF;
    margin-bottom: 10px;
}
.faqs-container .faqs-list .accordion-body h3:not(:first-child) {
    margin-top: 15px;
    display: inline-block;
    width: 100%;
}
.faqs-container .faqs-list .accordion-body h3 span {
    color: #6CA0BC;
}
.faqs-container .faqs-list .accordion-body h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #A06DAF;
    margin-bottom: 10px;
}
.faqs-container .faqs-list .accordion-body p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #757575;
}
.faqs-container .faqs-list .accordion-body p:last-child {
    margin-bottom: 0;
}
.faqs-container .faqs-list .accordion-body .faq-btn {
    color: white;
    padding: 12px 25px;
    background: linear-gradient(95.12deg, #EED979 0%, #6CA0BC 83.42%);
    cursor: pointer;
    font-size: 0.875em;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    margin-top: 20px;
}
.faqs-container .faqs-list .accordion-body .faq-btn:hover {
    background: linear-gradient(95.12deg, #6CA0BC 0%, #EED979 83.42%);
}
.faqs-container .faq-banner-container img {
    width: 100%;
}
.faqs-container .faq-list-container {
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    padding: 50px;
}
.faqs-container .faqs-list .faq-box-row {
    margin-top: 30px;
    margin-bottom: 30px;
}
.faqs-container .faqs-list .faq-box-main {
    background: #FCF2FF;
    border-radius: 20px;
    padding: 25px 34px;
    display: flex;
}
.faqs-container .faqs-list .faq-box-main .faq-box-img {
    margin-right: 35px;
}
.faqs-container .faqs-list .faq-box-main .faq-box-img img {
    max-width: 100%;
}
.faqs-container .faqs-list .faq-box-main .faq-box-line img {
    max-width: 55px;
}
.faqs-container .faqs-list .faq-box-main .faq-box-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #6CA0BC;
    margin-top: 10px;
}