.dbanner {
  padding: 60px 0% !important;
  width: 100% !important;
  min-height: 400px;
  margin: 50px auto 80px !important;
  max-width: 1920px;
  /* learn more css */
}

.dbanner .box {
  /*background-color: white;*/
  height: 266.5px;
  width: 266.5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dbanner .sbox {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.dbanner .sbox:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.dbanner .sbox:hover .purpleD {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.dbanner .boxHead {
  font-weight: 500;
  color: #33657e;
  font-size: 18px;
  padding-top: 20px;
}
.dbanner .boxSubHead {
  color: #232323;
  font-weight: 500;
  font-size: 16px;
}
.dbanner .sbox {
  height: 350px;
  width: 350px;
}

.dbanner .boxContent {
  z-index: 1;
  text-align: center;
}
.dbanner .sbox:not(:last-child) {
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.dbanner .pimgText {
  background-color: #6ca0bc;
}

.dbanner .dBox {
  height: 30%;
  width: 27%;
  z-index: 3;
  margin-left: 19% !important;
  margin-top: -1% !important;
}

.dbanner .littleD {
  height: 17%;
  width: 17%;
  z-index: 2;
  margin-top: 12% !important;
}

.dbanner .purpleD {
  height: 100%;
  width: 100%;
  background: linear-gradient(45.12deg, #A06DAF 0%, #6CA0BC 83.42%);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 5px 20px rgba(142, 144, 147, 0.5);
  border-radius: 14px;
}

.dbanner .dd1 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dbanner .componentText {
  color: #33657e;
}

.dbanner .philText {
  color: #ababab;
  padding: 0px 20% !important;
}

.dbanner .box > div {
  width: 10%;
  height: 10%;
}

.dbanner .boxContent > p:nth-child(2) {
  /* background-color: red; */
  padding: 5px 15px !important;
  /* font-size: 16px !important; */
  /* margin: 15px 0px !important; */
  min-height: 83px;
}

.dbanner .learn-more {
  color: #232323;
  font-weight: 500;
  font-size: 16px;
  margin: 10px auto;
  text-align: center;
  cursor: pointer;
  border-image-source: linear-gradient(to right, rgb(229, 205, 96), rgb(108, 160, 188));
  border-image-slice: 1;
  border-width: 2px;
  border-style: solid;
  padding: 5px 10px;
  display: inline-block;
}

.dbanner .learn-more > img {
  padding: 0px 10px !important;
  -webkit-animation: arrowSidewise 1s linear infinite;
          animation: arrowSidewise 1s linear infinite;
}

@-webkit-keyframes arrowSidewise {
  0% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  50% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@keyframes arrowSidewise {
  0% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  50% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

.homeThreeBoxes {
  background-color: #F8F8F8;
  box-shadow: 0px 29px 62px -14px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  position: relative;
}


@media only screen and (max-width: 1199.99px) {
  .dbanner .littleD {
    width: 60px;
    height: 60px;
  }
}


@media only screen and (max-width: 992px) {
  .dbanner .sbox {
    height: 270px;
    width: 270px;
  }
  .dbanner .box {
    height: 185px;
    width: 185px;
  }
  .dbanner .socialBlocks {
    padding: 0px 1px !important;
  }
  .dbanner .socialText {
    font-size: 0.7em;
    margin: 2px 0px !important;
    padding-bottom: 0px !important;
  }
  .dbanner .boxContent > p:nth-child(2) {
    padding: 5px !important;
  }
  .dbanner .littleD {
    margin-top: 0 !important;
  }
  .dbanner {
    margin-top: 80px !important;
  }
}


@media only screen and (min-width: 757px) and (max-width: 825px) {
  .dbanner .boxContent > p:nth-child(2) {
    min-height: 106px;
  }
  .dbanner .boxHead {
    padding-top: 40px;
  }
}

@media only screen and (max-width: 756px) {
  .dbanner {
    margin-top: 100px !important;
  }
  .dbanner .sbox {
    height: 250px;
    width: 100%;
  }
  .dbanner .box {
    height: 165px;
    width: 165px;
  }
  .dbanner .boxContent p {
    margin-bottom: 0px !important;
  }
  .dbanner {
    flex-direction: column;
  }
  .dbanner .sbox:not(:last-child) {
    border-right-width: 0;
  }
  .dbanner .sbox:not(:last-child) .boxContent {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }
  .dbanner .boxContent > p:nth-child(2) {
    min-height: auto;
  }
  .dbanner .littleD {
    margin-top: 10px !important;
  }
  .dbanner.py-0 {
    padding-top: 20px !important;
  }
}


@media only screen and (max-width: 601px) {
  .dbanner .littleD {
    margin-top: 40px !important;
  }
}


@media only screen and (max-width: 576px) {
  .dbanner .box {
    height: 145px;
    width: 145px;
  }
  .dbanner .learn-more > img {
    padding: 0px 5px !important;
    height: 5px !important;
    width: 18px !important;
  }
}
/*# sourceMappingURL=Banner2.css.map */