.blogs-container {
  background-color: #F8F8F8;
  padding-top: 80px;
  padding-bottom: 80px;
}
.blogs-container .blog-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #33657E;
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 60px;
}
.blogs-container .blog-heading::after {
  content: "";
  position: absolute;
  background-color: #a06daf;
  width: 45px;
  height: 5px;
  left: 49%;
  bottom: 0;
}
.blogs-container .blog-item {
  margin-bottom: 30px;
}
.blogs-container .blog-item:not(:last-child) {
  border-right: 1px solid #CDCACA;
}
.blogs-container .blog-img {
  /*border: 1px solid #EFEFEF;
  box-sizing: border-box;
  filter: drop-shadow(0px 16px 40px rgba(0, 0, 0, 0.05));*/
  background-color: #fff;
  width: 100%;
  height: 325px;
  /* border-radius: 10px 10px 0 0;
  border: 1px solid #ccc; */
}
.blogs-container .blog-content {
  background-color: #FFF;
  box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.05);
  padding: 15px 20px;
  /* border-radius: 0 0 5px 5px; */
}
.blogs-container .blog-content .blog-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #3C708E;
  /* margin-bottom: 10px;
  min-height: 65px; */
}
.blogs-container .blog-content .blog-title::after {
  background: #3C708E;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 1px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100px;
}
.blogs-container .blog-content p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: justify;
  color: #757575;
  margin-bottom: 20px;
}
.blogs-container .blog-content .blog-read-more {
  color: #6CA0BC;
}
.blogs-container .blog-content .blog-date-comment-main {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.blogs-container .blog-content .blog-date-comment-main .blog-date-comment {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #BFBFBF;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.blogs-container .blog-content .blog-date-comment-main .blog-date-comment:not(:last-child) {
  border-right: 1px solid #BFBFBF;;
  padding-right: 10px;
  margin-right: 12px;
}
.blogs-container .blog-content .blog-date-comment-main .blog-date-comment img {
  margin-right: 5px;
}
.blogs-container .blog-btn {
  border-image: linear-gradient(95.12deg, #EED979 0%, #6CA0BC 83.42%);
  border-style: solid;
  border-width: 1px;
  margin: 30px auto 10px;
  padding: 8px 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #33657E;
  max-width: 150px;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-image-slice: 1;
}

.blogs-container .blog-item-left .blog-item-box-main {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}
.blogs-container .blog-item-left .blog-item-box-main .blog-item-box-img {
  width: 40%;
  object-fit: cover;
}
.blogs-container .blog-item-left .blog-item-box-main .blog-item-box-content {
  width: 60%;
  padding: 20px;
}
.blogs-container .blog-item-left .blog-item-box-main .blog-item-box-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  margin-bottom: 10px;
}
.blogs-container .blog-item-left .blog-item-box-main .blog-item-box-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #3C708E;
  text-transform: uppercase;
}