.c-book-list-banner-container {
    margin-top: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
    background: #FFFFFF;
    position: relative;
}
.c-book-list-banner-container .c-book-rec {
    position: absolute;
}
.c-book-list-banner-container .c-book-rec-1 {
    left: 0;
    top: 40px;
}
.c-book-list-banner-container .c-book-rec-2 {
    left: 80px;
    bottom: 50px;
}
.c-book-list-banner-container .c-book-rec-3 {
    right: 0;
    top: 0;
}
.c-book-list-banner-container .c-book-list-banner-row {
    align-items: center;
}
.c-book-list-banner-container h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-transform: none;
    color: #33657E;
    margin-bottom: 25px;
}
.c-book-list-banner-container p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #232323;
}
.c-book-list-banner-container .c-book-list-banner-img img {
    max-width: 100%;
}

.c-book-list-container {
    background: #FAFAFA;
    padding-top: 70px;
    padding-bottom: 50px;
}
.c-book-list-container .c-book-list-row {
    margin-bottom: 60px;
}
.c-book-list-container .c-book-content-main {
    display: flex;
    background: #FFFFFF;
    height: 100%;
    width: 100%;
}
.c-book-list-container .c-book-content-main .c-book-img {
    width: 35%;
}
.c-book-list-container .c-book-content-main .c-book-img img {
    max-width: 100%;
    width: 100%;
}
.c-book-list-container .c-book-content-main .c-book-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 65%;
}
.c-book-list-container .c-book-content-main .c-book-content-item {
    display: flex;
    align-items: first baseline;
    position: relative;
}
.c-book-list-container .c-book-content-main .c-book-content-item:not(:last-child)::before {
    background-color: #DCDCDC;
    content: "";
    height: 110%;
    left: 35px;
    position: absolute;
    top: 30px;
    width: 1px;
}
.c-book-list-container .c-book-content-main .c-book-icon {
    margin-right: 15px;
    position: relative;
}
.c-book-list-container .c-book-content-main .c-book-icon img {
    max-width: 71px;
    z-index: 9;
    position: relative;
}
.c-book-list-container .c-book-content-main .c-book-icon::after {
    background-color: #DCDCDC;
    content: "";
    height: 1px;
    left: 50px;
    position: absolute;
    top: 32px;
    width: 30px;
}
.c-book-list-container .c-book-content-main .c-book-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.c-book-list-container .c-book-content-main .c-book-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: none;
    color: #33657E;
    margin-bottom: 5px;
}
.c-book-list-container .c-book-content-main .c-book-text {
    font-size: 16px;
    margin-right: 15px;
}
.c-book-list-container .c-book-content-main .c-book-detail-mian {
    display: flex;
    align-items: center;
}
.c-book-list-container .c-book-content-main .c-book-detail:not(:last-child) {
    border-right: 1px solid #DCDCDC;
    padding-right: 8px;
    margin-right: 8px;
}
.c-book-list-container .c-book-content-main .c-book-btn-mian {
    display: flex;
    align-items: center;
}
.c-book-list-container .c-book-content-main .c-book-button {
    background: linear-gradient(95.12deg, #EED979 0%, #6CA0BC 83.42%), linear-gradient(180deg, #F49AF4 0%, #C21EC2 100%);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 5px 25px;
    cursor: pointer;
}
.c-book-list-container .c-book-video {
    display: flex;
    height: 100%;
}
.c-book-list-container .c-book-video video {
    max-width: 100%;
}
.c-book-list-container .c-book-video img {
    width: 100%;
    height: 100%;
}

.c-book-payment-modal .modal-header {
    border-bottom-width: 0;
    padding-top: 25px;
    padding-right: 25px;
}
.c-book-payment-modal .modal-header .btn-close {
    background-image: url('./img/payment-modal-close.png');
    width: 25px;
    height: 25px;
    background-size: 25px;
    opacity: 1;
    box-shadow: unset;
}
.c-book-payment-modal .modal-body {
    padding: 20px 60px 60px;
    z-index: 9;
}
.c-book-payment-modal .c-book-payment-modal-row {
    align-items: center;
}
.c-book-payment-modal .c-book-payment-content-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    text-transform: none;
    color: #33657E;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
}
.c-book-payment-modal .c-book-payment-content-heading::after {
    background-color: #A06DAF;
    bottom: 0;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    width: 80px;
}
.c-book-payment-modal .c-book-payment-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #232323;
}
.c-book-payment-modal .c-book-payment-process {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(24, 54, 69, 0.15);
    padding: 25px 30px;
    max-width: 80%;
    margin: 0 auto;
}
.c-book-payment-modal .c-book-payment-process-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: none;
    color: #33657E;
    margin-bottom: 25px;
}
.c-book-payment-modal .c-book-payment-process-form .form-group {
    margin-bottom: 25px;
}
.c-book-payment-modal .c-book-payment-process-form .form-control {
    outline: 0;
    box-shadow: unset;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #C2BDC8;
    padding: 10px;
    height: auto;
}
.c-book-payment-modal .c-book-payment-process-form .form-control::placeholder {
    color: #C2BDC8;
}
.c-book-payment-modal .c-book-payment-process-form .form-select {
    outline: 0;
    box-shadow: unset;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #C2BDC8;
    padding: 10px;
    height: auto;
}
.c-book-payment-modal .c-book-payment-process-form .form-select::placeholder {
    color: #C2BDC8;
}
.c-book-payment-modal .c-book-payment-process-form .form-check-label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #757575;
}
.c-book-payment-modal .c-book-payment-process-form .pay-btn {
    background: linear-gradient(95.12deg, #EED979 0%, #6CA0BC 83.42%), linear-gradient(180deg, #F49AF4 0%, #C21EC2 100%);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 25px;
    outline: 0;
    border-width: 0;
}
.c-book-payment-modal .c-book-payment-modal-bg {
    position: relative;
}
.c-book-payment-modal .c-book-payment-modal-bg img {
    position: absolute;
    max-width: 100%;
}
.c-book-payment-modal .c-book-payment-modal-bg .pm-vec-1 {
    width: 100%;
    bottom: 0;
    z-index: 1;
}
.c-book-payment-modal .c-book-payment-modal-bg .pm-vec-2 {
    width: 100%;
    bottom: 0;
}
.c-book-payment-modal .c-book-payment-modal-bg .pm-rec-1 {
    bottom: 40px;
    left: 50px;
    z-index: 1;
}
.c-book-payment-modal .c-book-payment-modal-bg .pm-rec-2 {
    bottom: 90px;
    left: 45%;
    z-index: 1;
}
.c-book-payment-modal .c-book-payment-modal-bg .pm-rec-3 {
    bottom: 10px;
    left: 35%;
    z-index: 1;
}
.c-book-payment-modal .c-book-payment-modal-bg .pm-rec-4 {
    bottom: 0;
    right: 0;
    z-index: 1;
}

.c-book-download-modal .modal-header {
    border-bottom-width: 0;
    padding-top: 20px;
    padding-right: 20px;
}
.c-book-download-modal .modal-header .btn-close {
    background-image: url('./img/payment-modal-close.png');
    width: 20px;
    height: 20px;
    background-size: 20px;
    opacity: 1;
    box-shadow: unset;
}
.c-book-download-modal .modal-body {
    padding: 0 50px 40px;
}
.c-book-download-modal .c-book-download-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-transform: none;
    color: #33657E;
    margin-bottom: 30px;
}
.c-book-download-modal .c-book-download-modal-content .form-group {
    margin-bottom: 25px;
}
.c-book-download-modal .c-book-download-modal-content .form-control {
    outline: 0;
    box-shadow: unset;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #C2BDC8;
    padding: 10px;
    height: auto;
}
.c-book-download-modal .c-book-download-modal-content .form-control::placeholder {
    color: #C2BDC8;
}
.c-book-download-modal .c-book-download-modal-content .form-check-label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #757575;
}
.c-book-download-modal .c-book-download-modal-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: #757575;
}
.c-book-download-modal .c-book-download-modal-content p span {
    color: #33657E;
    cursor: pointer;
    text-decoration: underline;
}
.c-book-download-modal .c-book-download-modal-content .download-btn {
    background: linear-gradient(95.12deg, #EED979 0%, #6CA0BC 83.42%), linear-gradient(180deg, #F49AF4 0%, #C21EC2 100%);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 25px;
    outline: 0;
    border-width: 0;
    box-shadow: unset;
}

.c-book-list-book-section {
    background: #F4F4F4;
    position: relative;
    height: 667px;
}
.c-book-list-book-section .dots {
    position: absolute;
    top: 0;
    left: 0;
}
.c-book-list-book-section .book-rec {
    position: absolute;
    top: 80px;
    left: 50%;
}
.c-book-list-book-section .book-vector {
    position: absolute;
    top: 0;
    left: 45%;
}
.c-book-list-book-section .book-line {
    position: absolute;
    top: 0;
    right: 0;
}
.c-book-list-book-section .book-1 {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
}
.c-book-list-book-section .book-front-main {
    position: absolute;
    top: 75px;
    left: 200px;
}
.c-book-list-book-section .book-front-main .book-2 {
    position: absolute;
    left: 130px;
    bottom: 0;
}
.c-book-list-book-section .book-front-main .book-front-content {
    position: absolute;
    bottom: 45px;
    left: 125px;
}
.c-book-list-book-section .book-front-main .book-front-content .bf-content-item {
    align-items: center;
    display: flex;
    position: relative;
    margin-bottom: 40px;
}
.c-book-list-book-section .book-front-main .book-front-content .bf-content-item:not(:last-child)::before {
    background-color: #dcdcdc;
    content: "";
    height: 120%;
    left: 35px;
    position: absolute;
    top: 30px;
    width: 1px;
}
.c-book-list-book-section .book-front-main .bf-icon {
    margin-right: 15px;
    position: relative;
}
.c-book-list-book-section .book-front-main .bf-icon img {
    max-width: 71px;
    position: relative;
    z-index: 9;
}
.c-book-list-book-section .book-front-main .bf-icon::after {
    background-color: #dcdcdc;
    content: "";
    height: 1px;
    left: 50px;
    position: absolute;
    top: 32px;
    width: 30px;
}
.c-book-list-book-section .book-front-main .bf-desc {
    width: 285px;
}
.c-book-list-book-section .book-front-main .bf-desc .bf-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #232323;
}
.c-book-list-book-section .book-front-main .bf-detail-mian {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #232323;
}
.c-book-list-book-section .book-front-main .bf-detail-mian .bf-detail:not(:last-child) {
    border-right: 1px solid #DCDCDC;
    margin-right: 9px;
    padding-right: 9px;
}
.c-book-list-book-section .book-preview {
    position: absolute;
    right: 0;
    top: 45px;
    max-width: 100%;
}
.c-book-list-book-section .favicon {
    position: absolute;
    right: 30px;
    top: 45px;
}
.c-book-list-book-section .book-front-video {
    position: absolute;
    bottom: 35px;
    right: 12%;
}
.c-book-list-book-section .book-front-video video {
    max-height: 146px;
}
.c-book-list-book-section .book-front-btn {
    position: absolute;
    bottom: 35px;
    left: 43%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-book-list-book-section .book-front-btn .bf-sample-btn {
    background: #33657E;
    border: 1px solid #33657E;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 14px 33px;
    margin-right: 15px;
    cursor: pointer;
}
.c-book-list-book-section .book-front-btn .bf-buy-btn {
    background: linear-gradient(95.12deg, #EED979 0%, #6CA0BC 83.42%), linear-gradient(180deg, #F49AF4 0%, #C21EC2 100%);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 14px 54px;
    cursor: pointer;
}


@media only screen and (min-width: 1200px) and (max-width: 1420px) {
    .c-book-list-book-section .book-front-btn {
        left: 40%;
    }
    .c-book-list-book-section .book-preview {
        max-height: 350px;
    }
    .c-book-list-book-section .book-front-main {
        left: 150px;
    }
}


@media only screen and (min-width: 1200px) and (max-width: 1399.99px) {
    .c-book-list-container .c-book-content-main .c-book-text {
        margin-right: 10px;
    }
    .c-book-list-container .c-book-content-main .c-book-button {
        padding-left: 20px;
        padding-right: 20px;
    }
    .c-book-list-container .c-book-content-main .c-book-content-item:not(:last-child) {
        margin-bottom: 30px;
    }
    .c-book-list-container .c-book-content-main .c-book-detail-mian {
        flex-wrap: wrap;
    }
    .c-book-list-container .c-book-content-main .c-book-detail {
        flex: 0 0 100%;
        margin-bottom: 7px;
    }
    .c-book-list-container .c-book-content-main .c-book-detail:not(:last-child) {
        margin-right: 0;
        border-right-width: 0;
    }
}


@media only screen and (max-width: 1310px) {
    .c-book-list-book-section {
        height: 600px;
    }
    .c-book-list-book-section .book-front-main {
        top: initial;
        bottom: 0;
    }
    .c-book-list-book-section .book-front-main .book-front-img {
        max-height: 500px;
    }
    .c-book-list-book-section .book-preview {
        max-height: 300px;
    }
    .c-book-list-book-section .book-front-video {
        right: 10%;
    }
    .c-book-list-book-section .book-front-main .book-front-content {
        bottom: 25px;
    }
    .c-book-list-book-section .book-front-main .book-front-content .bf-content-item:not(:last-child) {
        margin-bottom: 30px;
    }
    .c-book-list-book-section .book-front-btn {
        bottom: 25px;
    }
    .c-book-list-book-section .book-front-video {
        bottom: 25px;
    }
}


@media only screen and (max-width: 1201px) {
    .c-book-list-book-section .book-front-video {
        right: 8%;
    }
    .c-book-list-book-section .book-front-btn {
        left: 38%;
    }
}


@media only screen and (max-width: 1199.99px) {
    .c-book-list-container .c-book-list-row .col-lg-6 {
        width: 100%;
        margin-bottom: 20px;
    }
    .c-book-list-container .c-book-content-main .c-book-content-item:not(:last-child)::before {
        height: 200%;
    }
    .c-book-payment-modal .modal-body {
        padding-left: 30px;
        padding-right: 30px;
    }
    .c-book-payment-modal .c-book-payment-process {
        max-width: 90%;
    }
    .c-book-payment-modal .c-book-payment-content-heading {
        font-size: 30px;
    }
    .c-book-list-book-section .book-front-main {
        left: 150px;
    }
}


@media only screen and (max-width: 1115px) {
    .c-book-list-book-section .book-front-main {
        left: 150px;
    }
    .c-book-list-book-section .book-front-main .book-front-img {
        max-height: 450px;
    }
    .c-book-list-book-section .book-preview {
        max-height: 280px;
    }
    .c-book-list-book-section .book-front-main .book-front-content {
        bottom: 15px;
    }
    .c-book-list-book-section .book-front-main .book-front-content .bf-content-item:not(:last-child) {
        margin-bottom: 20px;
    }
    .c-book-list-book-section .book-front-btn {
        bottom: 20px;
    }
    .c-book-list-book-section .book-front-btn .bf-sample-btn {
        padding: 10px 25px;
    }
    .c-book-list-book-section .book-front-btn .bf-buy-btn {
        padding: 10px 44px;
    }
    .c-book-list-book-section .book-front-btn {
        left: 35%;
    }
    .c-book-list-book-section .book-front-video {
        bottom: 20px;
        right: 5%;
    }
}


@media only screen and (max-width: 991px) {
    .c-book-list-banner-container .c-book-list-banner-img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .c-book-list-container .c-book-content-main .c-book-content-item:not(:last-child)::before {
        height: 150%;
        overflow: hidden;
    }
    .c-book-payment-modal .c-book-payment-process {
        max-width: 100%;
        margin-top: 30px;
    }
    .c-book-payment-modal .c-book-payment-process-form .form-group:last-child {
        margin-bottom: 15px;
    }

    .c-book-list-book-section {
        height: 930px;
    }
    .c-book-list-book-section .book-front-main {
        left: 50%;
        transform: translate(-50%, 0);
        top: 70px;
        bottom: initial;
    }
    .c-book-list-book-section .book-front-main .book-front-img {
        max-height: 550px;
    }
    .c-book-list-book-section .book-front-main .book-front-content .bf-content-item:not(:last-child) {
        margin-bottom: 40px;
    }
    .c-book-list-book-section .book-front-main .book-front-content {
        bottom: 35px;
    }
    .c-book-list-book-section .book-front-btn {
        bottom: 340px;
        left: 50%;
    }
    .c-book-list-book-section .book-preview {
        left: 5%;
        right: initial;
        top: initial;
        bottom: 20px;
    }
    .c-book-list-book-section .book-vector {
        left: 25%;
    }
    .c-book-list-book-section .book-front-video {
        bottom: 30px;
    }
}


@media only screen and (max-width: 768px) {
    .c-book-list-book-section {
        height: 850px;
    }
    .c-book-list-book-section .book-front-main .book-front-img {
        max-height: 450px;
    }
    .c-book-list-book-section .book-front-main {
        transform: translate(-45%, 0);
    }
    .c-book-list-book-section .book-front-main .book-front-content {
        bottom: 15px;
        left: 100px;
    }
    .c-book-list-book-section .book-front-main .book-front-content .bf-content-item:not(:last-child) {
        margin-bottom: 20px;
    }
    .c-book-list-book-section .book-vector {
        left: 10%;
    }
    .c-book-list-book-section .book-preview {
        left: 0;
    }
    .c-book-list-book-section .book-front-video {
        right: 3%;
    }
    .c-book-list-book-section .book-front-main .book-2 {
        left: 10px;
    }
}


@media only screen and (max-width: 767px) {
    .c-book-list-container .c-book-content-main .c-book-title {
        font-size: 16px;
    }
    .c-book-list-container .c-book-content-main .c-book-detail-mian {
        flex-direction: column;
        align-items: flex-start;
    }
    .c-book-list-container .c-book-content-main .c-book-detail {
        margin-bottom: 5px;
    }
    .c-book-list-container .c-book-content-main .c-book-detail:not(:last-child) {
        padding-right: 0;
        margin-right: 0;
        border-right-width: 0;
    }
    .c-book-list-container .c-book-content-main .c-book-btn-mian {
        flex-direction: column;
        align-items: flex-start;
    }
    .c-book-list-container .c-book-content-main .c-book-text {
        margin-bottom: 10px;
        margin-right: 0;
    }
    .c-book-list-container .c-book-content-main .c-book-content-item {
        padding-bottom: 20px;
    }
    .c-book-list-container .c-book-content-main .c-book-content-item:not(:last-child)::before {
        height: 100%;
    }
}


@media only screen and (max-width: 667.99px) {
    .c-book-list-book-section {
        height: 980px;
    }
    .c-book-list-book-section .book-preview {
        left: 50%;
        transform: translate(-50%, 0);
        bottom: initial;
        top: 500px;
    }
    .c-book-list-book-section .book-front-btn {
        bottom: 460px;
        left: 35%;
    }
    .c-book-list-book-section .book-front-video {
        right: 50%;
        transform: translate(50%, 0);
    }
    .c-book-list-book-section .book-1 {
        max-height: 300px;
    }
    .c-book-list-book-section .book-front-main {
        transform: translate(-50%, 0);
      }
}


@media only screen and (max-width: 600.99px) {
    .c-book-payment-modal .c-book-payment-modal-row.row > * {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}


@media only screen and (max-width: 576px) {
    .c-book-list-book-section .book-1 {
        top: initial;
        transform: translate(0, -5%);
        bottom: 0;
    }
}


@media only screen and (max-width: 480.99px) {
    .c-book-list-book-section .book-front-main .book-front-img {
        max-height: initial;
        max-width: 90%;
        margin: 0 auto;
    }
    .c-book-list-book-section .book-front-main .book-front-content {
        left: 50%;
        transform: translate(-50%, 0);
    }
    .c-book-list-book-section .book-front-main {
        transform: translate(0);
        left: 0;
        text-align: center;
    }
    .c-book-list-book-section .book-front-btn {
        left: 0;
        transform: translate(25%, 0);
        bottom: 480px;
    }
    .c-book-list-book-section .book-front-main .book-front-content .bf-content-item:last-child {
        margin-bottom: 0;
    }
    .c-book-list-book-section .book-front-main .bf-desc .bf-title {
        text-align: left;
    }
    .c-book-list-book-section .favicon {
        max-height: 50px;
        right: 20px;
        top: 35px;
    }
    .c-book-list-book-section .book-vector {
        left: 0;
        transform: translate(-30%, 0);
    }
}


@media only screen and (max-width: 450px) {
    .c-book-list-container .c-book-content-main {
        flex-direction: column;
    }
    .c-book-list-container .c-book-content-main .c-book-img {
        width: 100%;
    }
    .c-book-list-container .c-book-content-main .c-book-content {
        width: 100%;
    }
    .c-book-payment-modal .modal-body {
        padding-top: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    .c-book-list-book-section .book-front-btn {
        left: 0;
        transform: translate(18%, 0);
        bottom: 480px;
    }
}


@media only screen and (max-width: 391px) {
    .c-book-list-banner-container h1 {
        font-size: 28px;
    }
    .c-book-payment-modal .c-book-payment-content-heading {
        font-size: 26px;
    }
    .c-book-download-modal .modal-body {
        padding: 0 30px 20px;
    }
    .c-book-list-book-section .book-front-btn {
        left: 50%;
        transform: translate(-50%, 0);
        flex-direction: column;
        bottom: 460px;
    }
    .c-book-list-book-section .book-front-btn .bf-sample-btn {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .c-book-list-book-section .book-preview {
        top: 530px;
    }
    .c-book-list-book-section .book-front-main .book-front-content {
        bottom: 0;
        left: 0;
        transform: translate(0);
        max-width: 90%;
        margin-left: 10px;
    }
    .c-book-list-book-section .book-front-main .bf-detail-mian {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .c-book-list-book-section .book-front-main .bf-detail-mian .bf-detail:not(:last-child) {
        border-right-width: 0;
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 5px;
    }
}


@media only screen and (max-width: 346px) {
    .c-book-list-banner-container h1 {
        font-size: 24px;
    }
    .c-book-list-book-section .book-front-main .book-front-content {
        bottom: -25px;
    }
}


@media only screen and (max-width: 320.99px) {
    .c-book-payment-modal .c-book-payment-content-heading {
        font-size: 21px;
    }
    .c-book-payment-modal .c-book-payment-process {
        padding-left: 20px;
        padding-right: 20px;
    }
    .c-book-payment-modal .c-book-payment-process-form .form-check-label {
        text-align: left;
    }
    .c-book-payment-modal .modal-header {
        padding-top: 10px;
        padding-right: 10px;
    }
    .c-book-download-modal .modal-header {
        padding-top: 10px;
        padding-right: 10px;
    }
    .c-book-download-modal .modal-body {
        padding: 0 15px 20px;
    }
    .c-book-download-modal .c-book-download-heading {
        font-size: 22px;
    }
}


@media only screen and (max-width: 300.99px) {
    .c-book-list-container .c-book-content-main .c-book-button {
        padding-left: 15px;
        padding-right: 15px;
    }
    .c-book-list-container .c-book-content-main .c-book-text {
        font-size: 16px;
    }
    .c-book-list-book-section .book-front-main .book-front-content {
        bottom: -55px;
    }
    .c-book-list-book-section .book-front-btn .bf-sample-btn {
        padding: 8px 15px;
    }
    .c-book-list-book-section .book-front-btn .bf-buy-btn {
        padding: 8px 35px;
    }
    .c-book-list-book-section .book-preview {
        top: 560px;
    }
}


@media only screen and (max-width: 280.99px) {
    .c-book-list-book-section .book-front-main .book-front-content {
        bottom: -75px;
    }
}