.key_objectives {
    margin-bottom: 40px;
}

.key_objectives_btn_main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .key_objectives_btn_main .key_objectives_btn {
    color: white;
    padding: 8px 15px;
    background: linear-gradient(95.12deg, #EED979 0%, #6CA0BC 83.42%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    cursor: pointer;
    font-size: 0.875em;
    transition: all 0.3s ease-in-out;
  }
  .key_objectives_btn_main .key_objectives_btn:hover {
    background: linear-gradient(95.12deg, #6CA0BC 0%, #EED979 83.42%);
  }


@media only screen and (max-width: 1199px) {
    .key_objective_img {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}


@media only screen and (max-width: 481px) {
    .key_objective_img .m-5 {
        margin: 1rem 0 !important;
    }
}